{
  "openapi": "3.1.0",
  "info": {
    "title": "Launchpoint Buyer API",
    "description": "The API Launchpoint brands can use to manage their campaigns",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://buyer.launchpoint.nyc/api/2025-11"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],

  "paths": {
    "/codes": {
      "get": {
        "description": "Returns usage data and earnings for specified discount codes",
        "parameters": [
          {
            "name": "codes",
            "in": "query",
            "description": "Comma-separated list of discount codes to retrieve",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "CODE1,CODE2,CODE3"
          }
        ],
        "responses": {
          "200": {
            "description": "Code usage and earnings response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates new discount codes for a campaign",
        "requestBody": {
          "description": "Discount codes and campaign details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCodes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Codes created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates usage statistics for discount codes",
        "requestBody": {
          "description": "Code usage data - either as a map or CSV format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCodeUsage"
              }
            },
            "text/csv": {
              "schema": {
                "type": "string",
                "description": "CSV format: code,total_uses",
                "example": "CODE1,5\nCODE2,10\nCODE3,3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Code usage updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCodeUsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/codes/{code}": {
      "put": {
        "description": "Increments code usage by one",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The discount code to update",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CODE1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Code update accepted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a discount code",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "The discount code to delete",
            "required": true,
            "schema": {
              "type": "string",
              "example": "CODE1"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Code deleted successfully",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Code not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddCodes": {
        "required": ["codes", "user_description", "creator_drives", "creator_commission_cents"],
        "type": "object",
        "properties": {
          "codes": {
            "description": "Array of unique discount codes",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["CODE1", "CODE2", "CODE3"]
          },
          "user_description": {
            "description": "Description of what the user gets with these codes",
            "type": "string",
            "example": "20% off your first purchase"
          },
          "creator_drives": {
            "description": "The metric the creator drives (e.g. click, install, etc.)",
            "type": "string",
            "example": "signup"
          },
          "creator_commission_cents": {
            "description": "Commission amount in cents that the creator receives per conversion",
            "type": "integer",
            "example": 500
          }
        }
      },
      "CodesResponse": {
        "type": "object",
        "properties": {
          "codes": {
            "description": "Array of created discount codes",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["CODE1", "CODE2", "CODE3"]
          },
          "user_description": {
            "type": "string"
          },
          "creator_drives": {
            "type": "integer"
          },
          "creator_commission_cents": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UpdateCodeUsage": {
        "type": "object",
        "properties": {
          "code_usage": {
            "description": "Map of discount code to total uses",
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "example": {
              "CODE1": 5,
              "CODE2": 10,
              "CODE3": 3
            }
          }
        }
      },
      "UpdateCodeUsageResponse": {
        "type": "object",
        "properties": {
          "updated_codes": {
            "description": "Number of codes successfully updated",
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "CodeUsageResponse": {
        "type": "object",
        "properties": {
          "codes": {
            "description": "Usage data for requested codes",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodeUsageData"
            }
          },
          "total_earnings_cents": {
            "description": "Total earnings across all codes in cents",
            "type": "integer",
            "example": 15000
          }
        }
      },
      "CodeUsageData": {
        "type": "object",
        "properties": {
          "code": {
            "description": "The discount code",
            "type": "string",
            "example": "CODE1"
          },
          "total_uses": {
            "description": "Total number of times this code has been used",
            "type": "integer",
            "example": 5
          },
          "earnings_cents": {
            "description": "Earnings generated by this code in cents",
            "type": "integer",
            "example": 2500
          },
          "user_description": {
            "description": "What the user gets with this code",
            "type": "string"
          },
          "last_updated": {
            "description": "The last time usage data was updated",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CodeWebhookPayload": {
        "type": "object",
        "properties": {
          "event_type": {
            "description": "Type of webhook event",
            "type": "string",
            "enum": ["code.used", "code.created", "code.updated"],
            "example": "code.used"
          },
          "code": {
            "description": "The discount code involved in the event",
            "type": "string"
          },
          "total_uses": {
            "description": "Updated total uses for the code",
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
