{
  "openapi": "3.1.0",
  "info": {
    "title": "Launchpoint Buyer API",
    "description": "The API Launchpoint brands and agencies can use to manage their campaigns",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "2026-07"
  },
  "servers": [
    {
      "url": "https://api.launchpoint.sh/2026-07"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Campaigns",
      "description": "Create and manage campaigns, review creators and content, and read performance data"
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "description": "Returns campaigns visible to the API key. Brand keys see their own campaigns; agency keys see campaigns of all brands they manage. Results are sorted by creation date, newest first.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status. Repeat the parameter to match any of several statuses (e.g. `?status=active&status=paused`).",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CampaignStatus"
              }
            }
          },
          {
            "name": "brand_id",
            "in": "query",
            "description": "Narrow results to a single brand. Agency keys only; must be a brand the agency manages.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Only campaigns created at or after this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Only campaigns created before this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "Creates a campaign in `draft` status. Drafts can be skeletal \u2014 tasks may be added later \u2014 but a campaign must have at least one active task before it can be published. Requires the `campaigns:write` scope. Agency keys must specify `brand_id`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/campaigns/{campaign_id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign",
        "description": "Returns a single campaign with its tasks embedded.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a campaign",
        "description": "Partially updates a campaign. Omitted fields are unchanged. `type` and `brand_id` are immutable and completed campaigns cannot be updated; everything else is editable in any other status \u2014 the same rules as the dashboard editor. Note that updating a `pending_approval` campaign withdraws the publish request and returns it to `draft`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a draft campaign",
        "description": "Deletes a campaign that has never gone live. Only campaigns in `draft` or `pending_approval` status can be deleted; published campaigns should be completed instead.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/publish": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Request publish",
        "description": "Submits a draft campaign for review. Publishing is asynchronous: the campaign moves to `pending_approval` and becomes `active` once approved by Launchpoint (you'll receive a `campaign.status_changed` webhook, if configured). If the campaign is denied it returns to `draft` with `status_detail` explaining why. Fails with 422 if the campaign has no active tasks.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "202": {
            "description": "Publish request accepted; campaign is pending approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/pause": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Pause a campaign",
        "description": "Pauses an active campaign. Creators can no longer start work or submit content until the campaign is resumed. Pausing an already-paused campaign is a no-op and returns the unchanged campaign.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "The paused campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/resume": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Resume a campaign",
        "description": "Resumes a paused campaign. Resuming an already-active campaign is a no-op and returns the unchanged campaign. A campaign that was auto-paused for a billing issue cannot be resumed until the issue is fixed in the dashboard.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "The resumed campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/complete": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Complete a campaign",
        "description": "Ends a campaign permanently. Outstanding work is settled. This is a terminal action \u2014 a completed campaign cannot be resumed or edited.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "The completed campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/tasks": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List tasks",
        "description": "Returns the campaign's tasks (deliverables).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by task status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/TaskStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign's tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Add a task",
        "description": "Adds a task (deliverable) to a campaign. API-created tasks use Launchpoint's standard creator compensation for the campaign; custom compensation is configured in the dashboard.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/tasks/{task_id}": {
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a task",
        "description": "Partially updates a task. Omitted fields are unchanged.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/TaskId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Archive a task",
        "description": "Archives a task so no new creators can start it. Work already in progress is unaffected. Tasks are never hard-deleted; the archived task is returned with `status: \"archived\"`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/TaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "The archived task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/products": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List products",
        "description": "Returns the campaign's fulfillment products (items shipped or gifted to creators).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign's products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentProductList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Add a product",
        "description": "Adds a fulfillment product to the campaign.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentProduct"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/creators": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List creators",
        "description": "Returns creators on the campaign with their application status, content pipeline counts, performance metrics, and spend.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by application status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CreatorStatus"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of campaign creators",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignCreatorList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/creators/{creator_id}/approve": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Approve a creator",
        "description": "Approves a creator's pending application to the campaign. Requires the `approvals:write` scope. Approving an already-approved creator is a no-op; reversing a rejection returns 409.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/CreatorId"
          }
        ],
        "responses": {
          "200": {
            "description": "The approved creator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignCreator"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/creators/{creator_id}/reject": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Reject a creator",
        "description": "Rejects a creator's pending application to the campaign. Requires the `approvals:write` scope. Rejecting an already-rejected creator is a no-op; reversing an approval returns 409.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/CreatorId"
          }
        ],
        "responses": {
          "200": {
            "description": "The rejected creator",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignCreator"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/submissions": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List submissions",
        "description": "Returns content submitted by creators for review, newest first. Use `status=in_review` to fetch your review queue.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by review status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SubmissionStatus"
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "description": "Only submissions from this creator",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "description": "Only submissions for this task",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "submitted_after",
            "in": "query",
            "description": "Only submissions submitted at or after this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "submitted_before",
            "in": "query",
            "description": "Only submissions submitted before this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/submissions/{submission_id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a submission",
        "description": "Returns a single content submission.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/SubmissionId"
          }
        ],
        "responses": {
          "200": {
            "description": "The submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/submissions/{submission_id}/approve": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Approve a submission",
        "description": "Approves submitted content, clearing the creator to post it. Requires the `approvals:write` scope. Approving commits the creator's compensation, so it cannot be undone. Approving an already-approved submission is a no-op; reversing a rejection returns 409.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/SubmissionId"
          }
        ],
        "responses": {
          "200": {
            "description": "The approved submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/submissions/{submission_id}/reject": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Reject a submission",
        "description": "Rejects submitted content and requests changes. Requires the `approvals:write` scope. Include `feedback` to tell the creator what to fix \u2014 it is delivered with the rejection. The creator may submit a revision, which returns the submission to `in_review` and increments `revision_count`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/SubmissionId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionRejection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The rejected submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/posts": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List posts",
        "description": "Returns live published posts with their latest engagement metrics, newest first. Metrics are refreshed periodically; `metrics_updated_at` tells you how fresh they are.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "creator_id",
            "in": "query",
            "description": "Only posts from this creator",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "task_id",
            "in": "query",
            "description": "Only posts for this task",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Only posts on this platform",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Platform"
            }
          },
          {
            "name": "posted_after",
            "in": "query",
            "description": "Only posts published at or after this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "posted_before",
            "in": "query",
            "description": "Only posts published before this time (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartingAfter"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/metrics": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaign metrics",
        "description": "Returns the campaign's report: creator funnel, content performance, and spend. Pass `group_by` to additionally break performance and spend down by task or platform.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Break metrics down by task or platform",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "task",
                "platform"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The campaign metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignMetrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/campaigns/{campaign_id}/products/{product_id}": {
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update a product",
        "description": "Partially updates a fulfillment product. Omitted fields are unchanged.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentProduct"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Remove a product",
        "description": "Removes a fulfillment product from the campaign. Products already selected by creators cannot be removed (409).",
        "parameters": [
          {
            "$ref": "#/components/parameters/CampaignId"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "204": {
            "description": "Product removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "CampaignId": {
        "name": "campaign_id",
        "in": "path",
        "description": "The campaign ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "TaskId": {
        "name": "task_id",
        "in": "path",
        "description": "The task ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "SubmissionId": {
        "name": "submission_id",
        "in": "path",
        "description": "The submission ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "CreatorId": {
        "name": "creator_id",
        "in": "path",
        "description": "The creator ID",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of items to return per page",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "StartingAfter": {
        "name": "starting_after",
        "in": "query",
        "description": "Opaque pagination cursor from a previous response's `next_cursor`",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "A unique key (max 255 characters) to safely retry the request. Repeating a request with the same key within 24 hours returns the original response with an `Idempotent-Replay: true` header. Reusing a key with a different body returns 409.",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      },
      "ProductId": {
        "name": "product_id",
        "in": "path",
        "description": "The product ID",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is malformed \u2014 invalid JSON, unknown parameter value, or bad cursor (`invalid_request`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The API key is missing, unknown, or revoked (`unauthenticated`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key lacks a required scope (`missing_scope`) or referenced a brand it does not manage (`brand_not_managed`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "The resource does not exist or is not visible to this API key (`not_found`)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "The action conflicts with the resource's current state \u2014 e.g. `invalid_state_transition`, `field_locked_for_status`, `already_decided`, `already_reviewed`, or `idempotency_conflict`",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationFailed": {
        "description": "The request is well-formed but semantically invalid (`validation_failed`) \u2014 the message names the offending field",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "CampaignStatus": {
        "type": "string",
        "description": "Campaign lifecycle status. `draft` \u2192 `pending_approval` (submitted for Launchpoint review) \u2192 `active` \u21c4 `paused` \u2192 `completed`. A denied publish returns the campaign to `draft` with `status_detail` populated.",
        "enum": [
          "draft",
          "pending_approval",
          "active",
          "paused",
          "completed"
        ],
        "example": "active"
      },
      "CampaignStatusDetail": {
        "type": [
          "object",
          "null"
        ],
        "description": "Why the campaign is in its current status. Null unless the campaign was auto-paused or a publish request was denied.",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "auto_paused",
              "publish_denied"
            ]
          },
          "reason": {
            "type": "string",
            "description": "For `auto_paused`: one of `billing_issue`, `other`. For `publish_denied`: the reviewer's explanation.",
            "example": "billing_issue"
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignType": {
        "type": "string",
        "description": "What the campaign promotes",
        "enum": [
          "product",
          "app",
          "song",
          "generic"
        ],
        "example": "product"
      },
      "Platform": {
        "type": "string",
        "enum": [
          "tiktok",
          "instagram",
          "youtube",
          "snapchat"
        ],
        "example": "tiktok"
      },
      "Format": {
        "type": "string",
        "description": "The content format for a task",
        "enum": [
          "feed_video",
          "feed_images",
          "feed_video_ugc",
          "feed_video_music",
          "feed_images_music",
          "story_video",
          "story_images"
        ],
        "example": "feed_video"
      },
      "ProductInfo": {
        "type": "object",
        "description": "The product this campaign promotes",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Glow Serum"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://acme.com/products/glow-serum"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://cdn.acme.com/glow-serum.png"
          },
          "shopify_shop_domain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your connected Shopify store domain, when fulfillment or codes run through Shopify",
            "example": "acme-skincare.myshopify.com"
          }
        }
      },
      "CampaignSettings": {
        "type": "object",
        "description": "Approval workflow and task-completion settings",
        "properties": {
          "creator_approval_required": {
            "type": "boolean",
            "description": "Whether creators must be approved before starting work",
            "example": true
          },
          "brand_approval_required": {
            "type": "boolean",
            "description": "For agency-managed campaigns: whether the brand also signs off on content after the agency's review",
            "example": false
          },
          "post_approval_mode": {
            "type": "string",
            "description": "How strictly content is reviewed before posting. `always` requires review of every submission.",
            "enum": [
              "strict",
              "moderate",
              "lenient",
              "always"
            ],
            "example": "strict"
          },
          "completion_mode": {
            "$ref": "#/components/schemas/CompletionMode"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "3f8e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "example": "Spring UGC Push"
          },
          "brand_id": {
            "type": "string",
            "format": "uuid",
            "example": "9a2b4567-e89b-12d3-a456-426614174000"
          },
          "brand_name": {
            "type": "string",
            "example": "Acme Skincare"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "status_detail": {
            "$ref": "#/components/schemas/CampaignStatusDetail"
          },
          "type": {
            "$ref": "#/components/schemas/CampaignType"
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility"
          },
          "product_seeding": {
            "type": "boolean",
            "description": "Whether this is a product-seeding (gifting) campaign",
            "example": false
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the campaign is about, shown to creators",
            "example": "Short-form UGC for our spring launch."
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ],
            "description": "Campaign-wide instructions for creators",
            "example": "Film in daylight and show the product in the first 3 seconds."
          },
          "icon_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Campaign icon shown to creators"
          },
          "brief_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Link to an external full brief document"
          },
          "video_examples": {
            "type": "array",
            "description": "Campaign-level example video URLs",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "links": {
            "type": "array",
            "description": "Links given to creators alongside the brief",
            "items": {
              "$ref": "#/components/schemas/CampaignLink"
            }
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          },
          "product": {
            "$ref": "#/components/schemas/ProductInfo"
          },
          "spent_cents": {
            "type": "integer",
            "description": "Total paid to creators on this campaign, in cents. Read-only.",
            "example": 123400
          },
          "accepting_submissions": {
            "type": "boolean",
            "description": "Whether new creators can currently start work. Controlled by pause/resume.",
            "example": true
          },
          "content_deadline_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Date by which creators must submit content for review",
            "example": "2026-03-01"
          },
          "post_deadline_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Date by which approved content must be posted",
            "example": "2026-03-15"
          },
          "settings": {
            "$ref": "#/components/schemas/CampaignSettings"
          },
          "tasks": {
            "type": "array",
            "description": "The campaign's tasks. Embedded when fetching a single campaign; omitted in list responses (use `tasks_count`).",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "tasks_count": {
            "type": "integer",
            "example": 2
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignCreate": {
        "type": "object",
        "required": [
          "name",
          "type",
          "product"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Spring UGC Push"
          },
          "type": {
            "$ref": "#/components/schemas/CampaignType"
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility"
          },
          "product_seeding": {
            "type": "boolean",
            "default": false
          },
          "brand_id": {
            "type": "string",
            "format": "uuid",
            "description": "The brand this campaign belongs to. Required for agency keys; optional for brand keys (must match the key's own brand if present)."
          },
          "product": {
            "$ref": "#/components/schemas/ProductInfo"
          },
          "description": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "icon_url": {
            "type": "string",
            "format": "uri"
          },
          "brief_url": {
            "type": "string",
            "format": "uri"
          },
          "video_examples": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignLink"
            }
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          },
          "content_deadline_date": {
            "type": "string",
            "format": "date",
            "description": "Must be on or before post_deadline_date"
          },
          "post_deadline_date": {
            "type": "string",
            "format": "date"
          },
          "settings": {
            "$ref": "#/components/schemas/CampaignSettings"
          },
          "tasks": {
            "type": "array",
            "description": "Tasks to create with the campaign. Optional \u2014 drafts can be created without tasks, but at least one active task is required to publish.",
            "items": {
              "$ref": "#/components/schemas/TaskCreate"
            }
          },
          "products": {
            "type": "array",
            "description": "Fulfillment products to create with the campaign",
            "items": {
              "$ref": "#/components/schemas/ProductCreate"
            }
          }
        }
      },
      "CampaignUpdate": {
        "type": "object",
        "description": "Partial update \u2014 omitted fields are unchanged. Arrays (`video_examples`, `links`, `targeting`) are replaced wholesale. `type` and `brand_id` are immutable, and completed campaigns cannot be updated; everything else is editable in any other status, matching the dashboard. Updating a `pending_approval` campaign withdraws the publish request.",
        "properties": {
          "name": {
            "type": "string"
          },
          "product": {
            "$ref": "#/components/schemas/ProductInfo"
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility"
          },
          "product_seeding": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "instructions": {
            "type": "string"
          },
          "icon_url": {
            "type": "string",
            "format": "uri"
          },
          "brief_url": {
            "type": "string",
            "format": "uri"
          },
          "video_examples": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "links": {
            "type": "array",
            "description": "Replaces the campaign's links",
            "items": {
              "$ref": "#/components/schemas/CampaignLink"
            }
          },
          "targeting": {
            "$ref": "#/components/schemas/Targeting"
          },
          "content_deadline_date": {
            "type": "string",
            "format": "date"
          },
          "post_deadline_date": {
            "type": "string",
            "format": "date"
          },
          "settings": {
            "$ref": "#/components/schemas/CampaignSettings"
          }
        }
      },
      "CampaignList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "has_more": {
            "type": "boolean",
            "example": true
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as `starting_after` to fetch the next page. Null when there are no more results.",
            "example": "Y2FtcGFpZ25fMTIz"
          }
        }
      },
      "TaskStatus": {
        "type": "string",
        "description": "`active` tasks accept new work; `archived` tasks accept no new creators; `closed` tasks are finished",
        "enum": [
          "active",
          "archived",
          "closed"
        ],
        "example": "active"
      },
      "Task": {
        "type": "object",
        "description": "A deliverable creators complete for the campaign",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "example": "15s unboxing video"
          },
          "instructions": {
            "type": "string",
            "example": "Open the package on camera and show your first reaction."
          },
          "platforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Platform"
            },
            "example": [
              "tiktok",
              "instagram"
            ]
          },
          "formats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Format"
            },
            "example": [
              "feed_video"
            ]
          },
          "requirements": {
            "type": "array",
            "description": "Checklist items the content must satisfy",
            "items": {
              "type": "string"
            },
            "example": [
              "Show the logo",
              "Mention the discount code"
            ]
          },
          "caption": {
            "type": [
              "string",
              "null"
            ],
            "description": "Caption the creator must use when posting",
            "example": "Obsessed with my new glow \u2728 @acmeskincare"
          },
          "require_ad_disclosure": {
            "type": "boolean",
            "description": "Whether the post must carry the platform's paid-partnership / ad disclosure",
            "example": true
          },
          "tiktok_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "TikTok sound the content must use"
          },
          "instagram_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Instagram sound the content must use"
          },
          "video_examples": {
            "type": "array",
            "description": "URLs of example videos showing creators what to make",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Cover image shown with the task"
          },
          "product_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Limit this task to one of the campaign's products"
          },
          "review_mode": {
            "type": "string",
            "description": "`media_review`: you review each submission. `autoreview`: submissions are approved automatically.",
            "enum": [
              "media_review",
              "autoreview"
            ],
            "example": "media_review"
          },
          "is_required": {
            "type": "boolean",
            "description": "Whether every creator must complete this task. Only authored directly when the campaign's `settings.completion_mode` is `some_required`; other modes derive it.",
            "example": true
          },
          "max_posts_per_creator": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null means unlimited",
            "example": 1
          },
          "display_order": {
            "type": "integer",
            "description": "Position of the task in the campaign's brief",
            "example": 0
          },
          "status": {
            "$ref": "#/components/schemas/TaskStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "required": [
          "title",
          "instructions",
          "platforms"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "15s unboxing video"
          },
          "instructions": {
            "type": "string",
            "example": "Open the package on camera and show your first reaction."
          },
          "platforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Platform"
            },
            "example": [
              "tiktok",
              "instagram"
            ],
            "minItems": 1
          },
          "formats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Format"
            },
            "example": [
              "feed_video"
            ]
          },
          "requirements": {
            "type": "array",
            "description": "Checklist items the content must satisfy",
            "items": {
              "type": "string"
            },
            "example": [
              "Show the logo",
              "Mention the discount code"
            ]
          },
          "caption": {
            "type": [
              "string",
              "null"
            ],
            "description": "Caption the creator must use when posting",
            "example": "Obsessed with my new glow \u2728 @acmeskincare"
          },
          "require_ad_disclosure": {
            "type": "boolean",
            "description": "Whether the post must carry the platform's paid-partnership / ad disclosure",
            "example": true
          },
          "tiktok_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "TikTok sound the content must use"
          },
          "instagram_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Instagram sound the content must use"
          },
          "video_examples": {
            "type": "array",
            "description": "URLs of example videos showing creators what to make",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Cover image shown with the task"
          },
          "product_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Limit this task to one of the campaign's products"
          },
          "review_mode": {
            "type": "string",
            "description": "`media_review`: you review each submission. `autoreview`: submissions are approved automatically.",
            "enum": [
              "media_review",
              "autoreview"
            ],
            "example": "media_review"
          },
          "is_required": {
            "type": "boolean",
            "description": "Whether every creator must complete this task. Only authored directly when the campaign's `settings.completion_mode` is `some_required`; other modes derive it.",
            "example": true
          },
          "max_posts_per_creator": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null means unlimited",
            "example": 1
          },
          "display_order": {
            "type": "integer",
            "description": "Position of the task in the campaign's brief",
            "example": 0
          }
        }
      },
      "TaskUpdate": {
        "type": "object",
        "description": "Partial update \u2014 omitted fields are unchanged",
        "properties": {
          "title": {
            "type": "string",
            "example": "15s unboxing video"
          },
          "instructions": {
            "type": "string",
            "example": "Open the package on camera and show your first reaction."
          },
          "platforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Platform"
            },
            "example": [
              "tiktok",
              "instagram"
            ],
            "minItems": 1
          },
          "formats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Format"
            },
            "example": [
              "feed_video"
            ]
          },
          "requirements": {
            "type": "array",
            "description": "Checklist items the content must satisfy",
            "items": {
              "type": "string"
            },
            "example": [
              "Show the logo",
              "Mention the discount code"
            ]
          },
          "caption": {
            "type": [
              "string",
              "null"
            ],
            "description": "Caption the creator must use when posting",
            "example": "Obsessed with my new glow \u2728 @acmeskincare"
          },
          "require_ad_disclosure": {
            "type": "boolean",
            "description": "Whether the post must carry the platform's paid-partnership / ad disclosure",
            "example": true
          },
          "tiktok_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "TikTok sound the content must use"
          },
          "instagram_sound_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Instagram sound the content must use"
          },
          "video_examples": {
            "type": "array",
            "description": "URLs of example videos showing creators what to make",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Cover image shown with the task"
          },
          "product_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "Limit this task to one of the campaign's products"
          },
          "review_mode": {
            "type": "string",
            "description": "`media_review`: you review each submission. `autoreview`: submissions are approved automatically.",
            "enum": [
              "media_review",
              "autoreview"
            ],
            "example": "media_review"
          },
          "is_required": {
            "type": "boolean",
            "description": "Whether every creator must complete this task. Only authored directly when the campaign's `settings.completion_mode` is `some_required`; other modes derive it.",
            "example": true
          },
          "max_posts_per_creator": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Null means unlimited",
            "example": 1
          },
          "display_order": {
            "type": "integer",
            "description": "Position of the task in the campaign's brief",
            "example": 0
          }
        }
      },
      "TaskList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "has_more": {
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "FulfillmentProduct": {
        "type": "object",
        "description": "A product shipped or gifted to creators as part of the campaign",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Glow Serum 30ml"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "fulfillment_type": {
            "type": "string",
            "description": "How creators receive the product. `shopify`: ordered automatically from your connected store. `manual_ship`: you ship it yourself. `manual_redemption`: creators redeem a code or link. `manual`: handled outside Launchpoint.",
            "enum": [
              "shopify",
              "manual",
              "manual_redemption",
              "manual_ship"
            ],
            "example": "shopify"
          },
          "is_gift": {
            "type": "boolean",
            "description": "Whether the product is a gift on top of the campaign's main product",
            "example": false
          },
          "display_order": {
            "type": "integer",
            "example": 0
          },
          "shopify_variant_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Shopify variant to order, for `shopify` fulfillment"
          },
          "redemption_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shared redemption code, for `manual_redemption` fulfillment"
          },
          "redemption_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "redemption_instructions": {
            "type": [
              "string",
              "null"
            ]
          },
          "sold_out": {
            "type": "boolean",
            "example": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FulfillmentProductList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FulfillmentProduct"
            }
          },
          "has_more": {
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreatorStatus": {
        "type": "string",
        "description": "The creator's application status on the campaign",
        "enum": [
          "applied",
          "approved",
          "rejected"
        ],
        "example": "approved"
      },
      "ContentCounts": {
        "type": "object",
        "description": "The creator's content pipeline on this campaign",
        "properties": {
          "submitted": {
            "type": "integer",
            "description": "Total submissions, including revisions",
            "example": 4
          },
          "in_review": {
            "type": "integer",
            "example": 1
          },
          "approved": {
            "type": "integer",
            "example": 3
          },
          "rejected": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "EngagementMetrics": {
        "type": "object",
        "description": "Engagement totals across posts",
        "properties": {
          "views": {
            "type": "integer",
            "example": 32000
          },
          "likes": {
            "type": "integer",
            "example": 2100
          },
          "comments": {
            "type": "integer",
            "example": 90
          },
          "shares": {
            "type": "integer",
            "example": 25
          },
          "saves": {
            "type": "integer",
            "example": 40
          }
        }
      },
      "CampaignCreator": {
        "type": "object",
        "description": "A creator's participation in the campaign: application status, content pipeline, performance, and spend",
        "properties": {
          "creator_id": {
            "type": "string",
            "example": "cr_8f14e45fceea"
          },
          "username": {
            "type": "string",
            "example": "somecreator"
          },
          "status": {
            "$ref": "#/components/schemas/CreatorStatus"
          },
          "applied_at": {
            "type": "string",
            "format": "date-time"
          },
          "decided_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the application was approved or rejected"
          },
          "content": {
            "$ref": "#/components/schemas/ContentCounts"
          },
          "posts": {
            "type": "integer",
            "description": "Number of live posts",
            "example": 3
          },
          "metrics": {
            "$ref": "#/components/schemas/EngagementMetrics"
          },
          "spend_cents": {
            "type": "integer",
            "description": "Total paid to this creator on this campaign, in cents",
            "example": 45000
          }
        }
      },
      "CampaignCreatorList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignCreator"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SubmissionStatus": {
        "type": "string",
        "description": "`in_review` submissions are waiting on your decision. Rejected submissions return to `in_review` when the creator submits a revision.",
        "enum": [
          "in_review",
          "approved",
          "rejected"
        ],
        "example": "in_review"
      },
      "Submission": {
        "type": "object",
        "description": "Content a creator submitted for review before posting",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "creator_id": {
            "type": "string",
            "example": "cr_8f14e45fceea"
          },
          "creator_username": {
            "type": "string",
            "example": "somecreator"
          },
          "task_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/SubmissionStatus"
          },
          "media_type": {
            "type": "string",
            "enum": [
              "video",
              "carousel"
            ],
            "example": "video"
          },
          "media_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "URL of the submitted video, or the first image of a carousel"
          },
          "thumbnail_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "revision_count": {
            "type": "integer",
            "description": "How many times the creator has revised this submission",
            "example": 1
          },
          "feedback": {
            "type": [
              "string",
              "null"
            ],
            "description": "The most recent rejection feedback sent to the creator, if any"
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "reviewed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubmissionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Submission"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Post": {
        "type": "object",
        "description": "A live published post with its latest engagement metrics",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "creator_id": {
            "type": "string",
            "example": "cr_8f14e45fceea"
          },
          "creator_username": {
            "type": "string",
            "example": "somecreator"
          },
          "task_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "submission_id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "The approved submission this post was published from"
          },
          "platform": {
            "$ref": "#/components/schemas/Platform"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://www.tiktok.com/@somecreator/video/7301234567890"
          },
          "is_story": {
            "type": "boolean",
            "example": false
          },
          "posted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "metrics": {
            "$ref": "#/components/schemas/EngagementMetrics"
          },
          "metrics_updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the metrics were last refreshed"
          }
        }
      },
      "PostList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CampaignMetrics": {
        "type": "object",
        "description": "The campaign report: pipeline health (funnel), content performance, and spend",
        "properties": {
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "funnel": {
            "type": "object",
            "properties": {
              "creators_applied": {
                "type": "integer",
                "example": 30
              },
              "creators_approved": {
                "type": "integer",
                "example": 12
              },
              "submissions_in_review": {
                "type": "integer",
                "example": 3
              },
              "submissions_approved": {
                "type": "integer",
                "example": 28
              },
              "posts": {
                "type": "integer",
                "example": 31
              }
            }
          },
          "performance": {
            "type": "object",
            "properties": {
              "views": {
                "type": "integer",
                "example": 410000
              },
              "likes": {
                "type": "integer",
                "example": 22000
              },
              "comments": {
                "type": "integer",
                "example": 900
              },
              "shares": {
                "type": "integer",
                "example": 300
              },
              "saves": {
                "type": "integer",
                "example": 800
              },
              "engagement_rate": {
                "type": "number",
                "description": "(likes + comments + shares + saves) / views",
                "example": 0.057
              }
            }
          },
          "spend": {
            "type": "object",
            "properties": {
              "spent_cents": {
                "type": "integer",
                "example": 123400
              },
              "effective_cpm_cents": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "spent_cents / views \u00d7 1000. Null until the campaign has views.",
                "example": 301
              }
            }
          },
          "groups": {
            "type": "array",
            "description": "Present when `group_by` is set: the same performance and spend blocks broken down per task or per platform",
            "items": {
              "$ref": "#/components/schemas/CampaignMetricsGroup"
            }
          },
          "as_of": {
            "type": "string",
            "format": "date-time",
            "description": "When this report was computed"
          }
        }
      },
      "CampaignMetricsGroup": {
        "type": "object",
        "properties": {
          "group_key": {
            "type": "string",
            "description": "The task ID or platform name this row aggregates",
            "example": "tiktok"
          },
          "group_label": {
            "type": "string",
            "description": "Human-readable name \u2014 the task title or platform name",
            "example": "TikTok"
          },
          "posts": {
            "type": "integer",
            "example": 14
          },
          "performance": {
            "$ref": "#/components/schemas/EngagementMetrics"
          },
          "spend_cents": {
            "type": "integer",
            "example": 61000
          }
        }
      },
      "CampaignWebhookPayload": {
        "type": "object",
        "description": "Sent when a campaign changes status \u2014 including publish approval, publish denial, and auto-pauses",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "campaign.status_changed"
            ],
            "example": "campaign.status_changed"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "brand_id": {
            "type": "string",
            "format": "uuid"
          },
          "previous_status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          },
          "status_detail": {
            "$ref": "#/components/schemas/CampaignStatusDetail"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubmissionWebhookPayload": {
        "type": "object",
        "description": "Sent when a creator submits content for review (including revisions) or a submission is decided",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "submission.created",
              "submission.approved",
              "submission.rejected"
            ],
            "example": "submission.created"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "brand_id": {
            "type": "string",
            "format": "uuid"
          },
          "submission": {
            "$ref": "#/components/schemas/Submission"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostWebhookPayload": {
        "type": "object",
        "description": "Sent when a creator's approved content goes live, and when a live post's metrics are refreshed",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "post.created",
              "post.metrics_updated"
            ],
            "example": "post.created"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "brand_id": {
            "type": "string",
            "format": "uuid"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation, naming the offending field where applicable"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code, e.g. `invalid_state_transition`, `missing_scope`, `already_reviewed`",
            "example": "invalid_state_transition"
          }
        }
      },
      "SubmissionRejection": {
        "type": "object",
        "description": "Optional context for a rejection",
        "properties": {
          "feedback": {
            "type": "string",
            "description": "Feedback delivered to the creator \u2014 tells them what to fix before resubmitting.",
            "example": "Great energy! Please reshoot with the product visible in the first 3 seconds."
          }
        }
      },
      "Visibility": {
        "type": "string",
        "description": "`public` campaigns appear in creator discovery; `unlisted` campaigns are reachable only via an access code or direct link",
        "enum": [
          "public",
          "unlisted"
        ],
        "example": "public"
      },
      "CompletionMode": {
        "type": "string",
        "description": "How creators engage with the campaign's tasks. `all_required`: every task must be completed. `pick_one`: the creator commits to exactly one task. `all_optional`: any subset. `some_required`: each task's own `is_required` flag decides.",
        "enum": [
          "all_required",
          "pick_one",
          "all_optional",
          "some_required"
        ],
        "example": "all_optional"
      },
      "CampaignLink": {
        "type": "object",
        "description": "A link given to creators alongside the brief (store page, app listing, affiliate link, ...)",
        "required": [
          "url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://acme.com/products/glow-serum"
          },
          "service": {
            "type": [
              "string",
              "null"
            ],
            "description": "What the link points at, e.g. `shopify`, `appstore`, `playstore`",
            "example": "shopify"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Product page to link in bio"
          },
          "affiliate_code": {
            "type": [
              "string",
              "null"
            ],
            "example": "CREATOR20"
          }
        }
      },
      "TargetingCondition": {
        "type": "object",
        "required": [
          "property",
          "operator",
          "values"
        ],
        "properties": {
          "property": {
            "type": "string",
            "description": "The creator property to match on. Valid properties are listed in the dashboard's targeting editor.",
            "example": "country"
          },
          "operator": {
            "type": "string",
            "enum": [
              "IN",
              "NOT_IN"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "US",
              "CA"
            ]
          }
        }
      },
      "TargetingGroup": {
        "type": "object",
        "required": [
          "operator",
          "conditions"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "North America"
          },
          "operator": {
            "type": "string",
            "description": "How conditions within this group combine",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetingCondition"
            }
          }
        }
      },
      "Targeting": {
        "type": [
          "object",
          "null"
        ],
        "description": "Which creators can join the campaign. Groups combine via `root_operator`; conditions within a group combine via the group's `operator`. Null means no targeting (open to all).",
        "required": [
          "root_operator",
          "groups"
        ],
        "properties": {
          "root_operator": {
            "type": "string",
            "enum": [
              "AND",
              "OR"
            ]
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TargetingGroup"
            }
          }
        }
      },
      "ProductCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Glow Serum 30ml"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "fulfillment_type": {
            "type": "string",
            "description": "How creators receive the product. `shopify`: ordered automatically from your connected store. `manual_ship`: you ship it yourself. `manual_redemption`: creators redeem a code or link. `manual`: handled outside Launchpoint.",
            "enum": [
              "shopify",
              "manual",
              "manual_redemption",
              "manual_ship"
            ],
            "example": "shopify"
          },
          "is_gift": {
            "type": "boolean",
            "description": "Whether the product is a gift on top of the campaign's main product",
            "example": false
          },
          "display_order": {
            "type": "integer",
            "example": 0
          },
          "shopify_variant_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Shopify variant to order, for `shopify` fulfillment"
          },
          "redemption_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shared redemption code, for `manual_redemption` fulfillment"
          },
          "redemption_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "redemption_instructions": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ProductUpdate": {
        "type": "object",
        "description": "Partial update \u2014 omitted fields are unchanged",
        "properties": {
          "name": {
            "type": "string",
            "example": "Glow Serum 30ml"
          },
          "image_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "fulfillment_type": {
            "type": "string",
            "description": "How creators receive the product. `shopify`: ordered automatically from your connected store. `manual_ship`: you ship it yourself. `manual_redemption`: creators redeem a code or link. `manual`: handled outside Launchpoint.",
            "enum": [
              "shopify",
              "manual",
              "manual_redemption",
              "manual_ship"
            ],
            "example": "shopify"
          },
          "is_gift": {
            "type": "boolean",
            "description": "Whether the product is a gift on top of the campaign's main product",
            "example": false
          },
          "display_order": {
            "type": "integer",
            "example": 0
          },
          "shopify_variant_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The Shopify variant to order, for `shopify` fulfillment"
          },
          "redemption_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Shared redemption code, for `manual_redemption` fulfillment"
          },
          "redemption_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "redemption_instructions": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreatorWebhookPayload": {
        "type": "object",
        "description": "Sent when a creator applies to a campaign or an application is decided",
        "properties": {
          "event_type": {
            "type": "string",
            "enum": [
              "creator.applied",
              "creator.approved",
              "creator.rejected"
            ],
            "example": "creator.applied"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "brand_id": {
            "type": "string",
            "format": "uuid"
          },
          "creator": {
            "$ref": "#/components/schemas/CampaignCreator"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "webhooks": {
    "campaign.status_changed": {
      "post": {
        "summary": "Campaign changed status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "creator.applied": {
      "post": {
        "summary": "Creator applied to a campaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "creator.approved": {
      "post": {
        "summary": "Creator application approved",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "creator.rejected": {
      "post": {
        "summary": "Creator application rejected",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "submission.created": {
      "post": {
        "summary": "Content submitted for review",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "submission.approved": {
      "post": {
        "summary": "Submission approved",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "submission.rejected": {
      "post": {
        "summary": "Submission rejected",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "post.created": {
      "post": {
        "summary": "Approved content went live",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    },
    "post.metrics_updated": {
      "post": {
        "summary": "Post metrics refreshed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return any 2xx status to acknowledge receipt"
          }
        }
      }
    }
  }
}
