{
  "openapi": "3.0.4",
  "info": {
    "title": "Launchpoint Public API",
    "version": "1.0.0",
    "description": "**Private preview.** The Launchpoint Public API is in private preview and available only to trusted partners we work with directly. Access is not self-serve. Email hi@launchpointhq.com to ask about access.\n\nREST API for Launchpoint brands and agencies. Use an API key in the `x-api-key` header to authenticate.\n\n## Requirements\n- Public API access must be enabled for the company. During private preview, access is limited to trusted partners.\n- The company must have money in its Launchpoint wallet or a saved payment method. Otherwise requests return `402 { \"error\": \"Active subscription required\" }`.\n- Create and manage API keys in Dashboard → Settings → API.\n\n## Creator privacy\n- Responses never include creator phone numbers or email addresses.\n\n## Rate limits\n- Default: **100 requests per minute** per API key.\n- Approved partner accounts: **400 requests per minute**.\n- Every response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset`. Requests over the limit return `429`.\n\n## Errors\n- Errors use `{ \"error\": \"<message>\" }` with the matching HTTP status. Some endpoints also include a `code`.\n\n## Timestamps\n- Timestamps are Unix timestamps in milliseconds unless a field says otherwise.\n\n## Pagination\n- Most list endpoints accept `page` and `limit` and return `{ data, page, total }`. Some also return `totalPages`.\n- `scope=company` is the default. A parent agency key can pass `scope=agency` on supported routes to include its own data and linked brands."
  },
  "servers": [
    {
      "url": "https://dashboard.launchpointhq.com/api/v1",
      "description": "Live API server"
    }
  ],
  "tags": [
    {
      "name": "Programs",
      "description": "Programs and campaign management"
    },
    {
      "name": "Posts",
      "description": "Posts and social content"
    },
    {
      "name": "Analytics",
      "description": "KPIs and performance metrics"
    },
    {
      "name": "Payouts",
      "description": "Payouts, balances, and pending creator funds"
    },
    {
      "name": "Contracts",
      "description": "Contracts and creator agreements"
    },
    {
      "name": "Creators",
      "description": "Creator profiles and metrics"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key created in Dashboard → Settings → API"
      }
    },
    "parameters": {
      "ScopeParam": {
        "in": "query",
        "name": "scope",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "company",
            "agency"
          ],
          "default": "company"
        },
        "description": "Choose the data scope. `company` (default) limits results to the API key company's data. `agency` includes the parent agency and its linked brands. `scope=agency` requires a parent agency key; other keys receive `403`."
      }
    },
    "schemas": {
      "AudienceDistribution": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          }
        }
      },
      "InstagramAudience": {
        "type": "object",
        "properties": {
          "basis": {
            "type": "string",
            "enum": [
              "reached",
              "engaged",
              "followers"
            ]
          },
          "sampleSize": {
            "type": "integer",
            "nullable": true,
            "description": "Number of people behind the country distribution, or null when the source has percentages without counts"
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "ages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "genders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          }
        }
      },
      "CreatorAudienceBlock": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "available",
              "no_data"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "unsupported_platform",
              "no_data_marker",
              "never_fetched"
            ]
          },
          "countriesReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "unsupported_platform",
              "no_data_marker",
              "never_fetched"
            ]
          },
          "usAudiencePercentage": {
            "type": "number",
            "nullable": true,
            "description": "US audience percentage from the monthly country refresh only; null does not mean zero. A saved no-data marker can return 0; that does not prove the US share is zero."
          },
          "sampleSize": {
            "type": "integer",
            "nullable": true,
            "description": "Number of people behind the returned country distribution, or null when the saved source has percentages without counts"
          },
          "countries": {
            "type": "array",
            "description": "Country distribution from the monthly country refresh when available, or the Instagram account's own country split when no monthly geo row exists.",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "ages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "genders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "demographicsBasis": {
            "type": "string",
            "nullable": true,
            "enum": [
              "reached",
              "followers"
            ]
          },
          "instagramAudiences": {
            "type": "array",
            "description": "Separate Instagram populations reported by Meta: people reached, people who engaged, and followers. These are different sets of people and should not be added together.",
            "items": {
              "$ref": "#/components/schemas/InstagramAudience"
            }
          }
        }
      },
      "CreatorAudienceAccount": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string"
          },
          "handle": {
            "type": "string",
            "nullable": true
          },
          "lastUpdatedAt": {
            "type": "integer",
            "nullable": true,
            "description": "Unix timestamp in milliseconds; audience data may be up to about 30 days old"
          },
          "audience": {
            "$ref": "#/components/schemas/CreatorAudienceBlock"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/pay-structures": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Browse creator pay structures",
        "description": "Get the pay terms for each visible creator and program.\n\nThis endpoint includes offer-level cash terms and active Canvas payscales. `baseRateCents` contains cash entries only. Manual and Shopify entries are returned separately in `nonCashBaseRateEntries` with their `valueCents`; a product seed is not cash. `platformRatios: null` means there is no platform split. In the Canvas `assigned` block, `assignment: \"explicit\"` means the creator really resolves to that payscale group. `assignment: \"campaign_default\"` covers both a creator who was never assigned and a creator whose assigned group no longer exists; `assignedAt` is epoch milliseconds for an explicit assignment and is null for `campaign_default`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Pagination page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items to return per page"
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            },
            "description": "Narrow results to one opaque creator ID"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Narrow results to one program"
          }
        ],
        "responses": {
          "200": {
            "description": "Pay structures returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creatorId": {
                            "type": "string"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "programId": {
                            "type": "string"
                          },
                          "programName": {
                            "type": "string"
                          },
                          "contractId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds"
                          },
                          "updatedAt": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds"
                          },
                          "money": {
                            "type": "object",
                            "properties": {
                              "payModelKind": {
                                "type": "string",
                                "nullable": true,
                                "description": "The offer pricing kind, or `canvas_payscale` for a creator on Canvas"
                              },
                              "baseRateCents": {
                                "type": "integer",
                                "description": "Cash base-rate entries only, in the smallest currency unit"
                              },
                              "nonCashBaseRateEntries": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "enum": [
                                        "manual",
                                        "shopify"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "valueCents": {
                                      "type": "integer",
                                      "description": "Declared non-cash value; not included in baseRateCents"
                                    }
                                  }
                                }
                              },
                              "cpmCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "cpcCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "viewCap": {
                                "type": "integer",
                                "nullable": true
                              },
                              "minViewThreshold": {
                                "type": "integer",
                                "nullable": true
                              },
                              "maxCpmEarnableCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "maxTotalEarnableCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "platformRatios": {
                                "type": "object",
                                "nullable": true,
                                "additionalProperties": {
                                  "type": "number"
                                },
                                "description": "Platform split ratios. Null means no split."
                              }
                            }
                          },
                          "canvas": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "assigned": {
                                    "nullable": true,
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "label": {
                                            "type": "string"
                                          },
                                          "isDefault": {
                                            "type": "boolean"
                                          },
                                          "isTrial": {
                                            "type": "boolean"
                                          },
                                          "assignment": {
                                            "type": "string",
                                            "enum": [
                                              "explicit",
                                              "campaign_default"
                                            ],
                                            "description": "`explicit` means the creator resolves to this payscale group. `campaign_default` means the creator was never assigned to a group or the assigned group no longer exists."
                                          },
                                          "assignedAt": {
                                            "type": "integer",
                                            "nullable": true,
                                            "description": "Unix timestamp in milliseconds for an explicit assignment; null when `assignment` is `campaign_default`."
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "contentRules": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "matcher": {
                                          "type": "object",
                                          "properties": {
                                            "kind": {
                                              "type": "string",
                                              "enum": [
                                                "content",
                                                "lifetime_views"
                                              ]
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "thresholdViews": {
                                              "type": "integer"
                                            }
                                          }
                                        },
                                        "pay": {
                                          "type": "object",
                                          "properties": {
                                            "payoutType": {
                                              "type": "string",
                                              "enum": [
                                                "view_bonus",
                                                "cpm",
                                                "flat_fee"
                                              ]
                                            },
                                            "platformPayoutMode": {
                                              "type": "string",
                                              "enum": [
                                                "per_post",
                                                "highest_platform"
                                              ]
                                            },
                                            "viewTrackingDays": {
                                              "type": "integer"
                                            },
                                            "trialCutoff": {
                                              "type": "object",
                                              "properties": {
                                                "views": {
                                                  "type": "integer"
                                                },
                                                "posts": {
                                                  "type": "integer"
                                                },
                                                "days": {
                                                  "type": "integer"
                                                },
                                                "enabled": {
                                                  "type": "boolean"
                                                }
                                              }
                                            },
                                            "perCreatorCap": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "capCents": {
                                                  "type": "integer"
                                                },
                                                "periodDays": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "inactivityCutoff": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "days": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "baseRateDisabled": {
                                              "type": "boolean"
                                            },
                                            "tiers": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "viewsThreshold": {
                                                    "type": "integer"
                                                  },
                                                  "bonusCents": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            },
                                            "cpmCents": {
                                              "type": "integer"
                                            },
                                            "minViews": {
                                              "type": "integer"
                                            },
                                            "maxViews": {
                                              "type": "integer"
                                            },
                                            "flatFeeCents": {
                                              "type": "integer"
                                            },
                                            "amountCents": {
                                              "type": "integer"
                                            },
                                            "flatFee": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "flatFeeCents": {
                                                  "type": "integer"
                                                },
                                                "minViews": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "monthlyInput": {
                                              "type": "object",
                                              "properties": {
                                                "budgetCents": {
                                                  "type": "integer"
                                                },
                                                "postsPerMonth": {
                                                  "type": "integer"
                                                },
                                                "videosPerMonth": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "perPlatform": {
                                              "type": "object",
                                              "additionalProperties": {
                                                "type": "object",
                                                "properties": {
                                                  "payoutType": {
                                                    "type": "string",
                                                    "enum": [
                                                      "excluded",
                                                      "view_bonus",
                                                      "cpm",
                                                      "flat_fee"
                                                    ]
                                                  },
                                                  "excluded": {
                                                    "type": "boolean"
                                                  },
                                                  "flatFeeCents": {
                                                    "type": "integer"
                                                  },
                                                  "tiers": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "viewsThreshold": {
                                                          "type": "integer"
                                                        },
                                                        "bonusCents": {
                                                          "type": "integer"
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "cpmCents": {
                                                    "type": "integer"
                                                  },
                                                  "minViews": {
                                                    "type": "integer"
                                                  },
                                                  "maxViews": {
                                                    "type": "integer"
                                                  },
                                                  "flatFee": {
                                                    "type": "object"
                                                  },
                                                  "amountCents": {
                                                    "type": "integer"
                                                  },
                                                  "monthlyInput": {
                                                    "type": "object"
                                                  },
                                                  "baseRateDisabled": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "fallbackPay": {
                                    "nullable": true,
                                    "description": "The pay config used when content matches no rule. This can be null for a non-default payscale group with no fallback configured; null means the creator has no fallback pay yet.",
                                    "type": "object",
                                    "properties": {
                                      "payoutType": {
                                        "type": "string",
                                        "enum": [
                                          "view_bonus",
                                          "cpm",
                                          "flat_fee"
                                        ]
                                      },
                                      "platformPayoutMode": {
                                        "type": "string",
                                        "enum": [
                                          "per_post",
                                          "highest_platform"
                                        ]
                                      },
                                      "viewTrackingDays": {
                                        "type": "integer"
                                      },
                                      "trialCutoff": {
                                        "type": "object",
                                        "properties": {
                                          "views": {
                                            "type": "integer"
                                          },
                                          "posts": {
                                            "type": "integer"
                                          },
                                          "days": {
                                            "type": "integer"
                                          },
                                          "enabled": {
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "perCreatorCap": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "capCents": {
                                            "type": "integer"
                                          },
                                          "periodDays": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "inactivityCutoff": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "days": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "baseRateDisabled": {
                                        "type": "boolean"
                                      },
                                      "tiers": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "viewsThreshold": {
                                              "type": "integer"
                                            },
                                            "bonusCents": {
                                              "type": "integer"
                                            }
                                          }
                                        }
                                      },
                                      "cpmCents": {
                                        "type": "integer"
                                      },
                                      "minViews": {
                                        "type": "integer"
                                      },
                                      "maxViews": {
                                        "type": "integer"
                                      },
                                      "flatFeeCents": {
                                        "type": "integer"
                                      },
                                      "amountCents": {
                                        "type": "integer"
                                      },
                                      "flatFee": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "flatFeeCents": {
                                            "type": "integer"
                                          },
                                          "minViews": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "monthlyInput": {
                                        "type": "object",
                                        "properties": {
                                          "budgetCents": {
                                            "type": "integer"
                                          },
                                          "postsPerMonth": {
                                            "type": "integer"
                                          },
                                          "videosPerMonth": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "perPlatform": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "object",
                                          "properties": {
                                            "payoutType": {
                                              "type": "string",
                                              "enum": [
                                                "excluded",
                                                "view_bonus",
                                                "cpm",
                                                "flat_fee"
                                              ]
                                            },
                                            "excluded": {
                                              "type": "boolean"
                                            },
                                            "flatFeeCents": {
                                              "type": "integer"
                                            },
                                            "tiers": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "viewsThreshold": {
                                                    "type": "integer"
                                                  },
                                                  "bonusCents": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            },
                                            "cpmCents": {
                                              "type": "integer"
                                            },
                                            "minViews": {
                                              "type": "integer"
                                            },
                                            "maxViews": {
                                              "type": "integer"
                                            },
                                            "flatFee": {
                                              "type": "object"
                                            },
                                            "amountCents": {
                                              "type": "integer"
                                            },
                                            "monthlyInput": {
                                              "type": "object"
                                            },
                                            "baseRateDisabled": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "maxVideosPerWeek": {
                                    "type": "integer",
                                    "nullable": true
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "creatorId": "crt_demo_creator_7x2",
                      "creatorName": "Demo Creator",
                      "programId": "00000000-0000-4000-8000-000000000101",
                      "programName": "Spring Launch",
                      "contractId": "00000000-0000-4000-8000-000000000102",
                      "createdAt": 1786003200000,
                      "updatedAt": 1786089600000,
                      "money": {
                        "payModelKind": "post",
                        "baseRateCents": 7500,
                        "nonCashBaseRateEntries": [
                          {
                            "currency": "manual",
                            "name": "Product sample",
                            "valueCents": 2500
                          }
                        ],
                        "cpmCents": 400,
                        "cpcCents": 25,
                        "viewCap": 100000,
                        "minViewThreshold": 1000,
                        "maxCpmEarnableCents": 50000,
                        "maxTotalEarnableCents": 100000,
                        "platformRatios": {
                          "instagram": 0.6,
                          "tiktok": 0.4
                        }
                      },
                      "canvas": null
                    },
                    {
                      "creatorId": "crt_demo_creator_9k4",
                      "creatorName": "Sample Creator",
                      "programId": "00000000-0000-4000-8000-000000000103",
                      "programName": "Always-On Video Program",
                      "contractId": null,
                      "createdAt": 1785916800000,
                      "updatedAt": 1786089600000,
                      "money": {
                        "payModelKind": "canvas_payscale",
                        "baseRateCents": 0,
                        "nonCashBaseRateEntries": [],
                        "cpmCents": null,
                        "cpcCents": null,
                        "viewCap": null,
                        "minViewThreshold": null,
                        "maxCpmEarnableCents": null,
                        "maxTotalEarnableCents": null,
                        "platformRatios": null
                      },
                      "canvas": {
                        "assigned": {
                          "id": "scale-growth",
                          "label": "Growth",
                          "isDefault": false,
                          "isTrial": false,
                          "assignment": "explicit",
                          "assignedAt": 1786003200000
                        },
                        "contentRules": [
                          {
                            "id": "rule-talking-head",
                            "label": "Talking head",
                            "matcher": {
                              "kind": "content",
                              "description": "Creator speaks directly to camera"
                            },
                            "pay": {
                              "payoutType": "view_bonus",
                              "platformPayoutMode": "per_post",
                              "viewTrackingDays": 30,
                              "trialCutoff": {
                                "views": 10000,
                                "posts": 10,
                                "days": 14,
                                "enabled": true
                              },
                              "perCreatorCap": {
                                "enabled": true,
                                "capCents": 150000,
                                "periodDays": 30
                              },
                              "inactivityCutoff": {
                                "enabled": true,
                                "days": 30
                              },
                              "baseRateDisabled": false,
                              "tiers": [
                                {
                                  "viewsThreshold": 1000,
                                  "bonusCents": 2000
                                },
                                {
                                  "viewsThreshold": 10000,
                                  "bonusCents": 10000
                                },
                                {
                                  "viewsThreshold": 50000,
                                  "bonusCents": 30000
                                }
                              ],
                              "flatFeeCents": 0
                            }
                          }
                        ],
                        "fallbackPay": {
                          "payoutType": "view_bonus",
                          "platformPayoutMode": "per_post",
                          "viewTrackingDays": 30,
                          "trialCutoff": {
                            "views": 10000,
                            "posts": 10,
                            "days": 14,
                            "enabled": true
                          },
                          "perCreatorCap": {
                            "enabled": true,
                            "capCents": 150000,
                            "periodDays": 30
                          },
                          "inactivityCutoff": {
                            "enabled": true,
                            "days": 30
                          },
                          "baseRateDisabled": false,
                          "tiers": [
                            {
                              "viewsThreshold": 1000,
                              "bonusCents": 2000
                            },
                            {
                              "viewsThreshold": 10000,
                              "bonusCents": 10000
                            },
                            {
                              "viewsThreshold": 50000,
                              "bonusCents": 30000
                            }
                          ],
                          "flatFeeCents": 0
                        },
                        "maxVideosPerWeek": 5
                      }
                    }
                  ],
                  "page": 1,
                  "total": 2,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid creator ID or query parameter"
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "402": {
            "description": "Active subscription is required"
          },
          "403": {
            "description": "The requested scope is not allowed"
          },
          "429": {
            "description": "Request rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/creators/{id}/audience": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "View creator audience demographics",
        "description": "Get saved audience demographics for each linked social account of a visible creator.\n\nPercentages use a `0` to `100` scale, including `usAudiencePercentage`. Audience data can be up to about 30 days old; `lastUpdatedAt` is a Unix timestamp in milliseconds for the newest data in that account block. `countries` comes from the monthly country refresh when available and falls back to the Instagram account's own country split otherwise. `usAudiencePercentage` is populated only from the monthly country refresh, so null does not mean the US share is zero. A saved no-data marker can return `0`; that does not prove the US share is zero. `reason` is set only when the entire audience block has no data. When country data is missing but age, gender, or city data exists, `countriesReason` describes the missing country data instead.\n\nThe `instagramAudiences` entries expose separate populations Meta reports: people reached, people who engaged, and followers. These are different sets of people, so do not add them together.\n\nThe possible no-data reasons are `unsupported_platform`, `no_data_marker`, and `never_fetched`. A creator the API key cannot see returns `404`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque creator ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Audience demographics returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creatorId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreatorAudienceAccount"
                      }
                    }
                  }
                },
                "example": {
                  "creatorId": "crt_demo_creator_7x2",
                  "data": [
                    {
                      "platform": "instagram",
                      "handle": "demo_creator",
                      "lastUpdatedAt": 1786089600000,
                      "audience": {
                        "status": "available",
                        "reason": null,
                        "countriesReason": null,
                        "usAudiencePercentage": 72,
                        "countries": [
                          {
                            "label": "US",
                            "percentage": 72
                          },
                          {
                            "label": "GB",
                            "percentage": 18
                          },
                          {
                            "label": "CA",
                            "percentage": 10
                          }
                        ],
                        "ages": [
                          {
                            "label": "25-34",
                            "percentage": 48.5
                          }
                        ],
                        "genders": [
                          {
                            "label": "female",
                            "percentage": 61.2
                          }
                        ],
                        "cities": [
                          {
                            "label": "New York",
                            "percentage": 12.4
                          }
                        ],
                        "demographicsBasis": "reached",
                        "sampleSize": 2500,
                        "instagramAudiences": [
                          {
                            "basis": "reached",
                            "sampleSize": 2500,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 72
                              },
                              {
                                "label": "GB",
                                "percentage": 18
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 48.5
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 61.2
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 12.4
                              }
                            ]
                          },
                          {
                            "basis": "engaged",
                            "sampleSize": 840,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 68
                              },
                              {
                                "label": "GB",
                                "percentage": 22
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 52.1
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 58.7
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 14.1
                              }
                            ]
                          },
                          {
                            "basis": "followers",
                            "sampleSize": 3100,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 70
                              },
                              {
                                "label": "GB",
                                "percentage": 20
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 47.9
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 62.4
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 11.8
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "platform": "tiktok",
                      "handle": null,
                      "lastUpdatedAt": 1786003200000,
                      "audience": {
                        "status": "no_data",
                        "reason": "no_data_marker",
                        "countriesReason": "no_data_marker",
                        "usAudiencePercentage": null,
                        "countries": [],
                        "ages": [],
                        "genders": [],
                        "cities": [],
                        "demographicsBasis": null,
                        "sampleSize": null,
                        "instagramAudiences": []
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Creator ID is invalid"
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "402": {
            "description": "Active subscription is required"
          },
          "403": {
            "description": "The requested scope is not allowed"
          },
          "404": {
            "description": "Creator was not found or is not visible to this API key"
          },
          "429": {
            "description": "Request rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/programs": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Browse programs",
        "description": "Get your company's programs with pagination and filters.\n\nPrograms are campaigns or marketing initiatives that creators take part in.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Pagination page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items to return per page"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "paused",
                "completed",
                "archived"
              ]
            },
            "description": "Narrow programs by status"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Find programs by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Programs returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "429": {
            "description": "Request rate limit exceeded"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Browse posts",
        "description": "Get social media posts with detailed filters.\n\nFilter posts by program, platform, creator, date range, and more.\nResults contain engagement metrics (views, likes, comments, etc.).\n\nAgency accounts can pass `scope=agency` to return posts from the parent\nagency and every subaccount in one request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "program",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Narrow results by program IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "platform",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "tiktok",
                  "instagram",
                  "youtube"
                ]
              }
            },
            "description": "Narrow results by platforms (multiple allowed)"
          },
          {
            "in": "query",
            "name": "creator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Narrow results by creator IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Include posts from this date (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Include posts through this date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "earnings": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "View post details",
        "description": "Get full details for one post/video.\n\nThe response includes metrics, engagement data, payment status, and related contract/program information.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the post"
          }
        ],
        "responses": {
          "200": {
            "description": "Post details returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "thumbnail": {
                          "type": "string"
                        },
                        "creator": {
                          "type": "string",
                          "description": "Social handle"
                        },
                        "uploadedAt": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "views": {
                          "type": "integer"
                        },
                        "likes": {
                          "type": "integer"
                        },
                        "comments": {
                          "type": "integer"
                        },
                        "shares": {
                          "type": "integer"
                        },
                        "bookmarks": {
                          "type": "integer"
                        },
                        "engagementRate": {
                          "type": "string",
                          "description": "Percentage represented as a string"
                        },
                        "earnings": {
                          "type": "number"
                        },
                        "paid": {
                          "type": "boolean"
                        },
                        "lastPaidAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "lastSyncedAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "contract": {
                          "type": "object",
                          "nullable": true,
                          "description": "Contract details, or null if the post creator has no offer-level contract.",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "contractorName": {
                              "type": "string"
                            },
                            "contractorId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "isGhostHandle": {
                              "type": "boolean"
                            }
                          }
                        },
                        "program": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "creatorInfo": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "profileImageUrl": {
                              "type": "string"
                            }
                          }
                        },
                        "awardedBonuses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "bonusAmount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Post ID is invalid"
          },
          "404": {
            "description": "No post was found"
          }
        }
      }
    },
    "/posts/{id}/metrics-history": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "View post metrics history",
        "description": "Get daily historical metrics for one post/video.\n\nSee how views, likes, comments, and other metrics changed over time.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the post"
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "History length in days (0 for all)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Maximum data points to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics history returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "postId": {
                          "type": "string"
                        },
                        "history": {
                          "type": "array",
                          "description": "Daily snapshots ordered from oldest to newest",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "Date formatted as YYYY-MM-DD"
                              },
                              "timestamp": {
                                "type": "integer",
                                "nullable": true
                              },
                              "views": {
                                "type": "integer",
                                "description": "Views recorded on this date"
                              },
                              "likes": {
                                "type": "integer"
                              },
                              "comments": {
                                "type": "integer"
                              },
                              "shares": {
                                "type": "integer"
                              },
                              "bookmarks": {
                                "type": "integer"
                              },
                              "engagementRate": {
                                "type": "string"
                              },
                              "viewsDelta": {
                                "type": "integer",
                                "description": "Change since the previous day"
                              },
                              "likesDelta": {
                                "type": "integer"
                              },
                              "commentsDelta": {
                                "type": "integer"
                              },
                              "sharesDelta": {
                                "type": "integer"
                              },
                              "bookmarksDelta": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "growth": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "viewsGrowth": {
                              "type": "string",
                              "description": "Growth percentage for the period"
                            },
                            "likesGrowth": {
                              "type": "string"
                            },
                            "commentsGrowth": {
                              "type": "string"
                            },
                            "sharesGrowth": {
                              "type": "string"
                            },
                            "bookmarksGrowth": {
                              "type": "string"
                            },
                            "periodDays": {
                              "type": "integer"
                            },
                            "totalDaysTracked": {
                              "type": "integer"
                            }
                          }
                        },
                        "totalDataPoints": {
                          "type": "integer"
                        },
                        "periodDays": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Post ID is invalid"
          },
          "404": {
            "description": "No post was found"
          }
        }
      }
    },
    "/posts/{id}/insights": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "View post insights",
        "description": "Get the latest stored Instagram performance and Reel watch metrics for one post.\n\n`insights.status` and `insights.reason` are paired: `available` with `reason: null` means a post snapshot exists; `no_data` with `reason: never_fetched` means no post snapshot exists; and `no_data` with `reason: unsupported_platform` means the post is not Instagram.\n\n`creatorAudience` is account-level audience data for the account that published the post. Its handle follows the same PII lock as the creator audience endpoint. It is not the geography of people who watched this video: Meta does not expose per-post country data at any access level. Instagram audience entries describe separate populations reported by Meta and should not be added together. Non-Instagram posts return `no_data` with `reason: unsupported_platform` instead of invented metrics.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the post"
          }
        ],
        "responses": {
          "200": {
            "description": "Post insights returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "insights": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "available",
                                "no_data"
                              ]
                            },
                            "reason": {
                              "type": "string",
                              "nullable": true,
                              "enum": [
                                "never_fetched",
                                "unsupported_platform"
                              ]
                            },
                            "updatedAt": {
                              "type": "integer",
                              "nullable": true,
                              "description": "Unix timestamp in milliseconds for the stored post snapshot"
                            },
                            "views": {
                              "type": "number",
                              "nullable": true
                            },
                            "reach": {
                              "type": "number",
                              "nullable": true
                            },
                            "likes": {
                              "type": "number",
                              "nullable": true
                            },
                            "comments": {
                              "type": "number",
                              "nullable": true
                            },
                            "shares": {
                              "type": "number",
                              "nullable": true
                            },
                            "saves": {
                              "type": "number",
                              "nullable": true
                            },
                            "totalInteractions": {
                              "type": "number",
                              "nullable": true
                            },
                            "profileVisits": {
                              "type": "number",
                              "nullable": true
                            },
                            "follows": {
                              "type": "number",
                              "nullable": true
                            },
                            "totalWatchTimeMs": {
                              "type": "number",
                              "nullable": true
                            },
                            "avgWatchTimeMs": {
                              "type": "number",
                              "nullable": true
                            },
                            "skipRate": {
                              "type": "number",
                              "nullable": true,
                              "description": "Percentage from 0 to 100"
                            },
                            "engagementRate": {
                              "type": "number",
                              "nullable": true,
                              "description": "Percentage from 0 to 100"
                            }
                          }
                        },
                        "creatorAudience": {
                          "$ref": "#/components/schemas/CreatorAudienceAccount"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "post_demo_4k9",
                    "platform": "instagram",
                    "insights": {
                      "status": "available",
                      "reason": null,
                      "updatedAt": 1786089600000,
                      "views": 128450,
                      "reach": 102300,
                      "likes": 8420,
                      "comments": 312,
                      "shares": 486,
                      "saves": 1190,
                      "totalInteractions": 10408,
                      "profileVisits": 2180,
                      "follows": 347,
                      "totalWatchTimeMs": 184520000,
                      "avgWatchTimeMs": 14360,
                      "skipRate": 31.4,
                      "engagementRate": 8.1
                    },
                    "creatorAudience": {
                      "platform": "instagram",
                      "handle": "demo_creator",
                      "lastUpdatedAt": 1786089600000,
                      "audience": {
                        "status": "available",
                        "reason": null,
                        "countriesReason": null,
                        "usAudiencePercentage": 72,
                        "countries": [
                          {
                            "label": "US",
                            "percentage": 72
                          },
                          {
                            "label": "GB",
                            "percentage": 18
                          },
                          {
                            "label": "CA",
                            "percentage": 10
                          }
                        ],
                        "ages": [
                          {
                            "label": "25-34",
                            "percentage": 48.5
                          }
                        ],
                        "genders": [
                          {
                            "label": "female",
                            "percentage": 61.2
                          }
                        ],
                        "cities": [
                          {
                            "label": "New York",
                            "percentage": 12.4
                          }
                        ],
                        "demographicsBasis": "reached",
                        "sampleSize": 2500,
                        "instagramAudiences": [
                          {
                            "basis": "reached",
                            "sampleSize": 2500,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 72
                              },
                              {
                                "label": "GB",
                                "percentage": 18
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 48.5
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 61.2
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 12.4
                              }
                            ]
                          },
                          {
                            "basis": "engaged",
                            "sampleSize": 840,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 68
                              },
                              {
                                "label": "GB",
                                "percentage": 22
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 52.1
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 58.7
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 14.1
                              }
                            ]
                          },
                          {
                            "basis": "followers",
                            "sampleSize": 3100,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 70
                              },
                              {
                                "label": "GB",
                                "percentage": 20
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 47.9
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 62.4
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 11.8
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Post ID is invalid"
          },
          "404": {
            "description": "No post was found"
          }
        }
      }
    },
    "/posts/export": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Download posts as CSV",
        "description": "Create and download a CSV file containing posts.\n\nThe response streams all post data, including metrics, as CSV.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Uses the same filters as GET /posts"
                  },
                  "selectedIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Post IDs to export. When provided, these override filters; an empty array returns a header-only CSV."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV stream",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"posts-export.csv\""
              }
            }
          }
        }
      }
    },
    "/analytics/kpis": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "View key KPIs",
        "description": "Get key performance indicators grouped by status.\n\nThe response includes:\n- Programs (by status: active, draft, paused, etc.)\n- Contracts (by status: active, pending, completed, etc.)\n- Posts (total, views, engagement, paid/unpaid)\n- Creators (total, with active contracts)\n\nAgency accounts can pass `scope=agency` to calculate KPIs across the\nparent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "KPIs returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "programs": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "integer"
                            },
                            "draft": {
                              "type": "integer"
                            },
                            "paused": {
                              "type": "integer"
                            },
                            "completed": {
                              "type": "integer"
                            },
                            "archived": {
                              "type": "integer"
                            }
                          }
                        },
                        "contracts": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "integer"
                            },
                            "pending": {
                              "type": "integer"
                            },
                            "completed": {
                              "type": "integer"
                            },
                            "declined": {
                              "type": "integer"
                            },
                            "cancelled": {
                              "type": "integer"
                            },
                            "expired": {
                              "type": "integer"
                            }
                          }
                        },
                        "posts": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "totalViews": {
                              "type": "integer"
                            },
                            "totalLikes": {
                              "type": "integer"
                            },
                            "totalComments": {
                              "type": "integer"
                            },
                            "totalShares": {
                              "type": "integer"
                            },
                            "paid": {
                              "type": "integer"
                            },
                            "unpaid": {
                              "type": "integer"
                            }
                          }
                        },
                        "creators": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "withActiveContracts": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/videos": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Browse tracked videos and analytics",
        "description": "Get tracked videos/posts with analytics and filters.\n\nEach video includes engagement metrics, sorting, and detailed statistics.\n\nAgency accounts can pass `scope=agency` to combine tracked videos from the\nparent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "uploadedAt",
                "views",
                "likes",
                "engagement"
              ],
              "default": "uploadedAt"
            },
            "description": "Sort results by field"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "program",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "platform",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "tiktok",
                  "instagram",
                  "youtube"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "creator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "minViews",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum views to include"
          },
          {
            "in": "query",
            "name": "paid",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracked videos returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
