{
  "openapi": "3.0.4",
  "info": {
    "title": "Launchpoint Public API",
    "version": "1.0.0",
    "description": "**Private preview.** The Launchpoint Public API is in private preview and available only to trusted partners we work with directly. Access is not self-serve. Email hi@launchpointhq.com to ask about access.\n\nREST API for Launchpoint brands and agencies. Use an API key in the `x-api-key` header to authenticate.\n\n## Requirements\n- Public API access must be enabled for the company. During private preview, access is limited to trusted partners.\n- Create and manage API keys in Dashboard \u2192 Settings \u2192 Developer.\n\n## Creator privacy\n- Responses never include creator email addresses. Creator phone numbers are null when no number is stored or the workspace does not have access to creator contact details.\n\n## Rate limits\n- Default: **100 requests per minute** per API key.\n- Approved partner accounts: **400 requests per minute**.\n- Every response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset`. Requests over the limit return `429`.\n\n## Errors\n- Errors use `{ \"error\": \"<message>\" }` with the matching HTTP status. Some endpoints also include a `code`.\n\n## Timestamps\n- Timestamps are Unix timestamps in milliseconds unless a field says otherwise.\n\n## Pagination\n- Most list endpoints accept `page` and `limit` and return `{ data, page, total }`. Some also return `totalPages`.\n- `scope=company` is the default. A parent agency key can pass `scope=agency` on supported routes to include its own data and linked brands."
  },
  "servers": [
    {
      "url": "https://dashboard.launchpointhq.com/api/v1",
      "description": "Live API server"
    }
  ],
  "tags": [
    {
      "name": "Deals",
      "description": "Public creator opportunities across Launchpoint"
    },
    {
      "name": "Programs",
      "description": "Programs and campaign management"
    },
    {
      "name": "Posts",
      "description": "Posts and social content"
    },
    {
      "name": "Analytics",
      "description": "KPIs and performance metrics"
    },
    {
      "name": "Payouts",
      "description": "Payouts, balances, and pending creator funds"
    },
    {
      "name": "Contracts",
      "description": "Contracts and creator agreements"
    },
    {
      "name": "Creators",
      "description": "Creator profiles and metrics"
    },
    {
      "name": "Applications",
      "description": "Creator applications to Canvas programs"
    },
    {
      "name": "Messages",
      "description": "Read and send creator messages"
    },
    {
      "name": "Onboarding",
      "description": "Creator onboarding: status, messages, and proof review"
    },
    {
      "name": "Media review",
      "description": "Review the media creators send before they post: queue, status, approve, and reject"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key created in Dashboard \u2192 Settings \u2192 Developer"
      }
    },
    "parameters": {
      "ScopeParam": {
        "in": "query",
        "name": "scope",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "company",
            "agency"
          ],
          "default": "company"
        },
        "description": "Choose the data scope. `company` (default) limits results to the API key company's data. `agency` includes the parent agency and its linked brands. `scope=agency` requires a parent agency key; other keys receive `403`."
      }
    },
    "schemas": {
      "PostPlatform": {
        "type": "string",
        "enum": [
          "tiktok",
          "instagram",
          "youtube",
          "facebook",
          "snapchat"
        ]
      },
      "AudienceDistribution": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          }
        }
      },
      "InstagramAudience": {
        "type": "object",
        "properties": {
          "basis": {
            "type": "string",
            "enum": [
              "reached",
              "engaged",
              "followers"
            ]
          },
          "sampleSize": {
            "type": "integer",
            "nullable": true,
            "description": "Number of people behind the country distribution, or null when the source has percentages without counts"
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "ages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "genders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          }
        }
      },
      "CreatorAudienceBlock": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "available",
              "no_data"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "unsupported_platform",
              "no_data_marker",
              "never_fetched"
            ]
          },
          "countriesReason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "unsupported_platform",
              "no_data_marker",
              "never_fetched"
            ]
          },
          "usAudiencePercentage": {
            "type": "number",
            "nullable": true,
            "description": "US audience percentage from the monthly country refresh only; null does not mean zero. A saved no-data marker can return 0; that does not prove the US share is zero."
          },
          "sampleSize": {
            "type": "integer",
            "nullable": true,
            "description": "Number of people behind the returned country distribution, or null when the saved source has percentages without counts"
          },
          "countries": {
            "type": "array",
            "description": "Country distribution from the monthly country refresh when available, or the Instagram account's own country split when no monthly geo row exists.",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "ages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "genders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AudienceDistribution"
            }
          },
          "demographicsBasis": {
            "type": "string",
            "nullable": true,
            "enum": [
              "reached",
              "followers"
            ]
          },
          "instagramAudiences": {
            "type": "array",
            "description": "Separate Instagram populations reported by Meta: people reached, people who engaged, and followers. These are different sets of people and should not be added together.",
            "items": {
              "$ref": "#/components/schemas/InstagramAudience"
            }
          }
        }
      },
      "CreatorAudienceAccount": {
        "type": "object",
        "properties": {
          "platform": {
            "type": "string"
          },
          "handle": {
            "type": "string",
            "nullable": true
          },
          "lastUpdatedAt": {
            "type": "integer",
            "nullable": true,
            "description": "Unix timestamp in milliseconds; audience data may be up to about 30 days old"
          },
          "audience": {
            "$ref": "#/components/schemas/CreatorAudienceBlock"
          }
        }
      },
      "CreatorConversation": {
        "type": "object",
        "required": [
          "id",
          "programId",
          "creatorId",
          "creatorName",
          "unreadCount",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "creatorId": {
            "type": "string",
            "description": "Opaque creator id returned by the public API"
          },
          "creatorName": {
            "type": "string"
          },
          "lastMessageAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "lastMessagePreview": {
            "type": "string",
            "nullable": true
          },
          "lastMessageDirection": {
            "type": "string",
            "enum": [
              "outbound",
              "inbound"
            ],
            "nullable": true
          },
          "unreadCount": {
            "type": "integer"
          },
          "creatorLastReadAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreatorMessage": {
        "type": "object",
        "required": [
          "id",
          "conversationId",
          "direction",
          "body",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "direction": {
            "type": "string",
            "enum": [
              "outbound",
              "inbound"
            ],
            "description": "outbound means sent by the workspace; inbound means sent by the creator"
          },
          "body": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreatorDeal": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "brandName",
          "brandIconUrl",
          "url",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable Launchpoint deal ID."
          },
          "name": {
            "type": "string",
            "description": "Campaign display name."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Public deal description, or null when not supplied. Treat this value as text, not trusted HTML."
          },
          "brandName": {
            "type": "string",
            "nullable": true
          },
          "brandIconUrl": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public deal landing page. Show this link on your deal card. No Launchpoint account is needed to view it. It has links to open the selected deal in the app, download the iPhone app, or continue on web."
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp in milliseconds, or null when unavailable."
          },
          "updatedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp in milliseconds, or null when unavailable."
          }
        }
      },
      "OnboardingProof": {
        "type": "object",
        "required": [
          "id",
          "type",
          "programId",
          "creatorId",
          "account",
          "requirement",
          "media",
          "status",
          "rejectionComments",
          "submittedAt",
          "reviewedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "account_requirement",
              "warm_up"
            ],
            "description": "`account_requirement`: a screenshot or screen recording for a custom account requirement of the program. `warm_up`: a screen recording of the creator's warmed-up feed."
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "creatorId": {
            "type": "string",
            "description": "Opaque creator id, the same as in `/creators`"
          },
          "account": {
            "type": "object",
            "required": [
              "platform",
              "username"
            ],
            "properties": {
              "platform": {
                "type": "string",
                "description": "Platform of the creator account the proof is for"
              },
              "username": {
                "type": "string",
                "nullable": true,
                "description": "Null while creator details are locked for the workspace"
              }
            }
          },
          "requirement": {
            "type": "object",
            "required": [
              "id",
              "label",
              "instructions",
              "searchTerms"
            ],
            "properties": {
              "id": {
                "type": "string",
                "nullable": true,
                "description": "Custom requirement id. Null for a warm-up proof."
              },
              "label": {
                "type": "string",
                "nullable": true,
                "description": "Requirement name. `Account warm-up` for a warm-up proof."
              },
              "instructions": {
                "type": "string",
                "nullable": true,
                "description": "What the creator was asked to show. For a warm-up proof, the program's warm-up instructions for the platform."
              },
              "searchTerms": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Warm-up niches the feed should show. Empty for an account requirement."
              }
            }
          },
          "media": {
            "type": "object",
            "required": [
              "kind",
              "mediaUrl",
              "thumbnailUrl"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "image",
                  "video"
                ]
              },
              "mediaUrl": {
                "type": "string",
                "nullable": true,
                "description": "Link that downloads the proof file. Null unless media links are turned on for your workspace (email hi@launchpointhq.com). The link does not expire; do not share it."
              },
              "thumbnailUrl": {
                "type": "string",
                "nullable": true,
                "description": "Preview image link. Null unless media links are turned on for your workspace."
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_review",
              "approved",
              "rejected"
            ]
          },
          "rejectionComments": {
            "type": "string",
            "nullable": true,
            "description": "The message the creator saw when the proof was rejected"
          },
          "submittedAt": {
            "type": "integer",
            "format": "int64"
          },
          "reviewedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "MediaReviewItem": {
        "type": "object",
        "required": [
          "id",
          "programId",
          "creatorId",
          "revisionId",
          "media",
          "status",
          "rejectionComments",
          "submittedAt",
          "reviewedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "creatorId": {
            "type": "string",
            "description": "Opaque creator id, the same as in `/creators`"
          },
          "revisionId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "The newest revision of the media. Send it back with a decision so that the decision fails if the creator sent a newer revision after you read this one."
          },
          "media": {
            "type": "object",
            "required": [
              "kind",
              "mediaUrl",
              "thumbnailUrl",
              "carouselMediaUrls"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "video",
                  "carousel"
                ]
              },
              "mediaUrl": {
                "type": "string",
                "nullable": true,
                "description": "Link that downloads the video file. Null unless media links are turned on for your workspace (email hi@launchpointhq.com). The link does not expire; do not share it."
              },
              "thumbnailUrl": {
                "type": "string",
                "nullable": true,
                "description": "Link to the preview image. Null under the same rule as `mediaUrl`."
              },
              "carouselMediaUrls": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Links to the images of a carousel. Empty for a video, and empty under the same rule as `mediaUrl`."
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_review",
              "approved",
              "rejected",
              "not_reviewable"
            ],
            "description": "`pending_review`: the media is in your review queue, so approve and reject can act on it. `not_reviewable`: the media has no decision and is not in your queue, for example while the managing agency has not passed it. Only a read of one item returns it."
          },
          "rejectionComments": {
            "type": "string",
            "nullable": true,
            "description": "The message the creator got. Null unless the status is `rejected`."
          },
          "submittedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "When the creator sent the newest revision, in Unix milliseconds"
          },
          "reviewedAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "When the media was approved or rejected, in Unix milliseconds"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/deals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "operationId": "listCreatorDeals",
        "summary": "List creator deals",
        "description": "List public creator opportunities across Launchpoint for a jobs board or creator app. This catalog is platform-wide, not limited to the API key company. It includes only public, active campaigns that accept submissions and have not been deleted. Private, unlisted, paused, closed, and deleted deals are excluded.\n\nUse each item\u2019s `url` for the details action. It opens a public landing page before signup, with app, iPhone download, and web links. After installation or signup, a new creator must return to that page and open the deal again; automatic return through app installation is not supported.\n\nThis is not a personalized eligibility or pay feed. Launchpoint checks eligibility and shows current terms when the creator applies. The feed does not return creator identities, private budgets, or sourcing rewards.\n\nThe only query parameters are `page` and `limit`. Unsupported parameters, including `scope` and creator filters, return `400`. Results are ordered by stable deal ID. Fetch successive pages through `totalPages` to read the full catalog. Paging reads live state, so changes during a crawl can move rows between pages. Deduplicate by `id` and replace your cached catalog after each complete refresh.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Pagination page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items to return per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Creator deals returned successfully. An empty catalog has data: [], total: 0, and totalPages: 0.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "page",
                    "total",
                    "totalPages"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreatorDeal"
                      }
                    },
                    "page": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "totalPages": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "11111111-1111-4111-8111-111111111111",
                      "name": "Daily routine videos",
                      "description": "Create videos about your daily routine.",
                      "brandName": "Example brand",
                      "brandIconUrl": null,
                      "url": "https://dashboard.launchpointhq.com/creator-deals/11111111-1111-4111-8111-111111111111",
                      "createdAt": 1788220800000,
                      "updatedAt": null
                    }
                  ],
                  "page": 1,
                  "total": 1,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination or unsupported query parameter.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or revoked API key.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "API access is disabled for the workspace.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "API key rate limit exceeded. Retry after the Retry-After header value in seconds.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Launchpoint could not complete the request.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Requests allowed per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in this window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Window reset time in Unix seconds.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pay-structures": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Browse creator pay structures",
        "description": "Get the pay terms for each visible creator and program.\n\nThis endpoint includes offer-level cash terms and active Canvas payscales. `baseRateCents` contains cash entries only. Manual and Shopify entries are returned separately in `nonCashBaseRateEntries` with their `valueCents`; a product seed is not cash. `platformRatios: null` means there is no platform split. In the Canvas `assigned` block, `assignment: \"explicit\"` means the creator really resolves to that payscale group. `assignment: \"campaign_default\"` covers both a creator who was never assigned and a creator whose assigned group no longer exists; `assignedAt` is epoch milliseconds for an explicit assignment and is null for `campaign_default`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Pagination page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items to return per page"
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            },
            "description": "Narrow results to one opaque creator ID"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Narrow results to one program"
          }
        ],
        "responses": {
          "200": {
            "description": "Pay structures returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "creatorId": {
                            "type": "string"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "programId": {
                            "type": "string"
                          },
                          "programName": {
                            "type": "string"
                          },
                          "contractId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds"
                          },
                          "updatedAt": {
                            "type": "integer",
                            "description": "Unix timestamp in milliseconds"
                          },
                          "money": {
                            "type": "object",
                            "properties": {
                              "payModelKind": {
                                "type": "string",
                                "nullable": true,
                                "description": "The offer pricing kind, or `canvas_payscale` for a creator on Canvas"
                              },
                              "baseRateCents": {
                                "type": "integer",
                                "description": "Cash base-rate entries only, in the smallest currency unit"
                              },
                              "nonCashBaseRateEntries": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "currency": {
                                      "type": "string",
                                      "enum": [
                                        "manual",
                                        "shopify"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "valueCents": {
                                      "type": "integer",
                                      "description": "Declared non-cash value; not included in baseRateCents"
                                    }
                                  }
                                }
                              },
                              "cpmCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "cpcCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "viewCap": {
                                "type": "integer",
                                "nullable": true
                              },
                              "minViewThreshold": {
                                "type": "integer",
                                "nullable": true
                              },
                              "maxCpmEarnableCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "maxTotalEarnableCents": {
                                "type": "integer",
                                "nullable": true
                              },
                              "platformRatios": {
                                "type": "object",
                                "nullable": true,
                                "additionalProperties": {
                                  "type": "number"
                                },
                                "description": "Platform split ratios. Null means no split."
                              }
                            }
                          },
                          "canvas": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "assigned": {
                                    "nullable": true,
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          },
                                          "label": {
                                            "type": "string"
                                          },
                                          "isDefault": {
                                            "type": "boolean"
                                          },
                                          "isTrial": {
                                            "type": "boolean"
                                          },
                                          "assignment": {
                                            "type": "string",
                                            "enum": [
                                              "explicit",
                                              "campaign_default"
                                            ],
                                            "description": "`explicit` means the creator resolves to this payscale group. `campaign_default` means the creator was never assigned to a group or the assigned group no longer exists."
                                          },
                                          "assignedAt": {
                                            "type": "integer",
                                            "nullable": true,
                                            "description": "Unix timestamp in milliseconds for an explicit assignment; null when `assignment` is `campaign_default`."
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "contentRules": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "matcher": {
                                          "type": "object",
                                          "properties": {
                                            "kind": {
                                              "type": "string",
                                              "enum": [
                                                "content",
                                                "lifetime_views"
                                              ]
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "thresholdViews": {
                                              "type": "integer"
                                            }
                                          }
                                        },
                                        "pay": {
                                          "type": "object",
                                          "properties": {
                                            "payoutType": {
                                              "type": "string",
                                              "enum": [
                                                "view_bonus",
                                                "cpm",
                                                "flat_fee"
                                              ]
                                            },
                                            "platformPayoutMode": {
                                              "type": "string",
                                              "enum": [
                                                "per_post",
                                                "highest_platform"
                                              ]
                                            },
                                            "viewTrackingDays": {
                                              "type": "integer"
                                            },
                                            "trialCutoff": {
                                              "type": "object",
                                              "properties": {
                                                "views": {
                                                  "type": "integer"
                                                },
                                                "posts": {
                                                  "type": "integer"
                                                },
                                                "days": {
                                                  "type": "integer"
                                                },
                                                "enabled": {
                                                  "type": "boolean"
                                                }
                                              }
                                            },
                                            "perCreatorCap": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "capCents": {
                                                  "type": "integer"
                                                },
                                                "periodDays": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "inactivityCutoff": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "days": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "baseRateDisabled": {
                                              "type": "boolean"
                                            },
                                            "tiers": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "viewsThreshold": {
                                                    "type": "integer"
                                                  },
                                                  "bonusCents": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            },
                                            "cpmCents": {
                                              "type": "integer"
                                            },
                                            "minViews": {
                                              "type": "integer"
                                            },
                                            "maxViews": {
                                              "type": "integer"
                                            },
                                            "flatFeeCents": {
                                              "type": "integer"
                                            },
                                            "amountCents": {
                                              "type": "integer"
                                            },
                                            "flatFee": {
                                              "type": "object",
                                              "properties": {
                                                "enabled": {
                                                  "type": "boolean"
                                                },
                                                "flatFeeCents": {
                                                  "type": "integer"
                                                },
                                                "minViews": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "monthlyInput": {
                                              "type": "object",
                                              "properties": {
                                                "budgetCents": {
                                                  "type": "integer"
                                                },
                                                "postsPerMonth": {
                                                  "type": "integer"
                                                },
                                                "videosPerMonth": {
                                                  "type": "integer"
                                                }
                                              }
                                            },
                                            "perPlatform": {
                                              "type": "object",
                                              "additionalProperties": {
                                                "type": "object",
                                                "properties": {
                                                  "payoutType": {
                                                    "type": "string",
                                                    "enum": [
                                                      "excluded",
                                                      "view_bonus",
                                                      "cpm",
                                                      "flat_fee"
                                                    ]
                                                  },
                                                  "excluded": {
                                                    "type": "boolean"
                                                  },
                                                  "flatFeeCents": {
                                                    "type": "integer"
                                                  },
                                                  "tiers": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "viewsThreshold": {
                                                          "type": "integer"
                                                        },
                                                        "bonusCents": {
                                                          "type": "integer"
                                                        }
                                                      }
                                                    }
                                                  },
                                                  "cpmCents": {
                                                    "type": "integer"
                                                  },
                                                  "minViews": {
                                                    "type": "integer"
                                                  },
                                                  "maxViews": {
                                                    "type": "integer"
                                                  },
                                                  "flatFee": {
                                                    "type": "object"
                                                  },
                                                  "amountCents": {
                                                    "type": "integer"
                                                  },
                                                  "monthlyInput": {
                                                    "type": "object"
                                                  },
                                                  "baseRateDisabled": {
                                                    "type": "boolean"
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "fallbackPay": {
                                    "nullable": true,
                                    "description": "The pay config used when content matches no rule. This can be null for a non-default payscale group with no fallback configured; null means the creator has no fallback pay yet.",
                                    "type": "object",
                                    "properties": {
                                      "payoutType": {
                                        "type": "string",
                                        "enum": [
                                          "view_bonus",
                                          "cpm",
                                          "flat_fee"
                                        ]
                                      },
                                      "platformPayoutMode": {
                                        "type": "string",
                                        "enum": [
                                          "per_post",
                                          "highest_platform"
                                        ]
                                      },
                                      "viewTrackingDays": {
                                        "type": "integer"
                                      },
                                      "trialCutoff": {
                                        "type": "object",
                                        "properties": {
                                          "views": {
                                            "type": "integer"
                                          },
                                          "posts": {
                                            "type": "integer"
                                          },
                                          "days": {
                                            "type": "integer"
                                          },
                                          "enabled": {
                                            "type": "boolean"
                                          }
                                        }
                                      },
                                      "perCreatorCap": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "capCents": {
                                            "type": "integer"
                                          },
                                          "periodDays": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "inactivityCutoff": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "days": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "baseRateDisabled": {
                                        "type": "boolean"
                                      },
                                      "tiers": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "viewsThreshold": {
                                              "type": "integer"
                                            },
                                            "bonusCents": {
                                              "type": "integer"
                                            }
                                          }
                                        }
                                      },
                                      "cpmCents": {
                                        "type": "integer"
                                      },
                                      "minViews": {
                                        "type": "integer"
                                      },
                                      "maxViews": {
                                        "type": "integer"
                                      },
                                      "flatFeeCents": {
                                        "type": "integer"
                                      },
                                      "amountCents": {
                                        "type": "integer"
                                      },
                                      "flatFee": {
                                        "type": "object",
                                        "properties": {
                                          "enabled": {
                                            "type": "boolean"
                                          },
                                          "flatFeeCents": {
                                            "type": "integer"
                                          },
                                          "minViews": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "monthlyInput": {
                                        "type": "object",
                                        "properties": {
                                          "budgetCents": {
                                            "type": "integer"
                                          },
                                          "postsPerMonth": {
                                            "type": "integer"
                                          },
                                          "videosPerMonth": {
                                            "type": "integer"
                                          }
                                        }
                                      },
                                      "perPlatform": {
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "object",
                                          "properties": {
                                            "payoutType": {
                                              "type": "string",
                                              "enum": [
                                                "excluded",
                                                "view_bonus",
                                                "cpm",
                                                "flat_fee"
                                              ]
                                            },
                                            "excluded": {
                                              "type": "boolean"
                                            },
                                            "flatFeeCents": {
                                              "type": "integer"
                                            },
                                            "tiers": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "viewsThreshold": {
                                                    "type": "integer"
                                                  },
                                                  "bonusCents": {
                                                    "type": "integer"
                                                  }
                                                }
                                              }
                                            },
                                            "cpmCents": {
                                              "type": "integer"
                                            },
                                            "minViews": {
                                              "type": "integer"
                                            },
                                            "maxViews": {
                                              "type": "integer"
                                            },
                                            "flatFee": {
                                              "type": "object"
                                            },
                                            "amountCents": {
                                              "type": "integer"
                                            },
                                            "monthlyInput": {
                                              "type": "object"
                                            },
                                            "baseRateDisabled": {
                                              "type": "boolean"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "maxVideosPerWeek": {
                                    "type": "integer",
                                    "nullable": true
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "creatorId": "crt_demo_creator_7x2",
                      "creatorName": "Demo Creator",
                      "programId": "00000000-0000-4000-8000-000000000101",
                      "programName": "Spring Launch",
                      "contractId": "00000000-0000-4000-8000-000000000102",
                      "createdAt": 1786003200000,
                      "updatedAt": 1786089600000,
                      "money": {
                        "payModelKind": "post",
                        "baseRateCents": 7500,
                        "nonCashBaseRateEntries": [
                          {
                            "currency": "manual",
                            "name": "Product sample",
                            "valueCents": 2500
                          }
                        ],
                        "cpmCents": 400,
                        "cpcCents": 25,
                        "viewCap": 100000,
                        "minViewThreshold": 1000,
                        "maxCpmEarnableCents": 50000,
                        "maxTotalEarnableCents": 100000,
                        "platformRatios": {
                          "instagram": 0.6,
                          "tiktok": 0.4
                        }
                      },
                      "canvas": null
                    },
                    {
                      "creatorId": "crt_demo_creator_9k4",
                      "creatorName": "Sample Creator",
                      "programId": "00000000-0000-4000-8000-000000000103",
                      "programName": "Always-On Video Program",
                      "contractId": null,
                      "createdAt": 1785916800000,
                      "updatedAt": 1786089600000,
                      "money": {
                        "payModelKind": "canvas_payscale",
                        "baseRateCents": 0,
                        "nonCashBaseRateEntries": [],
                        "cpmCents": null,
                        "cpcCents": null,
                        "viewCap": null,
                        "minViewThreshold": null,
                        "maxCpmEarnableCents": null,
                        "maxTotalEarnableCents": null,
                        "platformRatios": null
                      },
                      "canvas": {
                        "assigned": {
                          "id": "scale-growth",
                          "label": "Growth",
                          "isDefault": false,
                          "isTrial": false,
                          "assignment": "explicit",
                          "assignedAt": 1786003200000
                        },
                        "contentRules": [
                          {
                            "id": "rule-talking-head",
                            "label": "Talking head",
                            "matcher": {
                              "kind": "content",
                              "description": "Creator speaks directly to camera"
                            },
                            "pay": {
                              "payoutType": "view_bonus",
                              "platformPayoutMode": "per_post",
                              "viewTrackingDays": 30,
                              "trialCutoff": {
                                "views": 10000,
                                "posts": 10,
                                "days": 14,
                                "enabled": true
                              },
                              "perCreatorCap": {
                                "enabled": true,
                                "capCents": 150000,
                                "periodDays": 30
                              },
                              "inactivityCutoff": {
                                "enabled": true,
                                "days": 30
                              },
                              "baseRateDisabled": false,
                              "tiers": [
                                {
                                  "viewsThreshold": 1000,
                                  "bonusCents": 2000
                                },
                                {
                                  "viewsThreshold": 10000,
                                  "bonusCents": 10000
                                },
                                {
                                  "viewsThreshold": 50000,
                                  "bonusCents": 30000
                                }
                              ],
                              "flatFeeCents": 0
                            }
                          }
                        ],
                        "fallbackPay": {
                          "payoutType": "view_bonus",
                          "platformPayoutMode": "per_post",
                          "viewTrackingDays": 30,
                          "trialCutoff": {
                            "views": 10000,
                            "posts": 10,
                            "days": 14,
                            "enabled": true
                          },
                          "perCreatorCap": {
                            "enabled": true,
                            "capCents": 150000,
                            "periodDays": 30
                          },
                          "inactivityCutoff": {
                            "enabled": true,
                            "days": 30
                          },
                          "baseRateDisabled": false,
                          "tiers": [
                            {
                              "viewsThreshold": 1000,
                              "bonusCents": 2000
                            },
                            {
                              "viewsThreshold": 10000,
                              "bonusCents": 10000
                            },
                            {
                              "viewsThreshold": 50000,
                              "bonusCents": 30000
                            }
                          ],
                          "flatFeeCents": 0
                        },
                        "maxVideosPerWeek": 5
                      }
                    }
                  ],
                  "page": 1,
                  "total": 2,
                  "totalPages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid creator ID or query parameter"
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "403": {
            "description": "The requested scope is not allowed"
          },
          "429": {
            "description": "Request rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/creators/{id}/audience": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "View creator audience demographics",
        "description": "Get saved audience demographics for each linked social account of a visible creator.\n\nPercentages use a `0` to `100` scale, including `usAudiencePercentage`. Audience data can be up to about 30 days old; `lastUpdatedAt` is a Unix timestamp in milliseconds for the newest data in that account block. `countries` comes from the monthly country refresh when available and falls back to the Instagram account's own country split otherwise. `usAudiencePercentage` is populated only from the monthly country refresh, so null does not mean the US share is zero. A saved no-data marker can return `0`; that does not prove the US share is zero. `reason` is set only when the entire audience block has no data. When country data is missing but age, gender, or city data exists, `countriesReason` describes the missing country data instead.\n\nThe `instagramAudiences` entries expose separate populations Meta reports: people reached, people who engaged, and followers. These are different sets of people, so do not add them together.\n\nThe possible no-data reasons are `unsupported_platform`, `no_data_marker`, and `never_fetched`. A creator the API key cannot see returns `404`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque creator ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Audience demographics returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "creatorId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreatorAudienceAccount"
                      }
                    }
                  }
                },
                "example": {
                  "creatorId": "crt_demo_creator_7x2",
                  "data": [
                    {
                      "platform": "instagram",
                      "handle": "demo_creator",
                      "lastUpdatedAt": 1786089600000,
                      "audience": {
                        "status": "available",
                        "reason": null,
                        "countriesReason": null,
                        "usAudiencePercentage": 72,
                        "countries": [
                          {
                            "label": "US",
                            "percentage": 72
                          },
                          {
                            "label": "GB",
                            "percentage": 18
                          },
                          {
                            "label": "CA",
                            "percentage": 10
                          }
                        ],
                        "ages": [
                          {
                            "label": "25-34",
                            "percentage": 48.5
                          }
                        ],
                        "genders": [
                          {
                            "label": "female",
                            "percentage": 61.2
                          }
                        ],
                        "cities": [
                          {
                            "label": "New York",
                            "percentage": 12.4
                          }
                        ],
                        "demographicsBasis": "reached",
                        "sampleSize": 2500,
                        "instagramAudiences": [
                          {
                            "basis": "reached",
                            "sampleSize": 2500,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 72
                              },
                              {
                                "label": "GB",
                                "percentage": 18
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 48.5
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 61.2
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 12.4
                              }
                            ]
                          },
                          {
                            "basis": "engaged",
                            "sampleSize": 840,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 68
                              },
                              {
                                "label": "GB",
                                "percentage": 22
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 52.1
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 58.7
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 14.1
                              }
                            ]
                          },
                          {
                            "basis": "followers",
                            "sampleSize": 3100,
                            "countries": [
                              {
                                "label": "US",
                                "percentage": 70
                              },
                              {
                                "label": "GB",
                                "percentage": 20
                              },
                              {
                                "label": "CA",
                                "percentage": 10
                              }
                            ],
                            "ages": [
                              {
                                "label": "25-34",
                                "percentage": 47.9
                              }
                            ],
                            "genders": [
                              {
                                "label": "female",
                                "percentage": 62.4
                              }
                            ],
                            "cities": [
                              {
                                "label": "New York",
                                "percentage": 11.8
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "platform": "tiktok",
                      "handle": null,
                      "lastUpdatedAt": 1786003200000,
                      "audience": {
                        "status": "no_data",
                        "reason": "no_data_marker",
                        "countriesReason": "no_data_marker",
                        "usAudiencePercentage": null,
                        "countries": [],
                        "ages": [],
                        "genders": [],
                        "cities": [],
                        "demographicsBasis": null,
                        "sampleSize": null,
                        "instagramAudiences": []
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Creator ID is invalid"
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "403": {
            "description": "The requested scope is not allowed"
          },
          "404": {
            "description": "Creator was not found or is not visible to this API key"
          },
          "429": {
            "description": "Request rate limit exceeded"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/programs": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Browse programs",
        "description": "Get your company's programs with pagination and filters.\n\nPrograms are campaigns or marketing initiatives that creators take part in.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Pagination page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Items to return per page"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "paused",
                "completed",
                "archived"
              ]
            },
            "description": "Narrow programs by status"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Find programs by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Programs returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is invalid"
          },
          "429": {
            "description": "Request rate limit exceeded"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Browse posts",
        "description": "Get social media posts with detailed filters.\n\nFilter posts by program, platform, creator, date range, and more. Each row includes direct links, thumbnails, stable creator IDs, cross-post group IDs, current metrics, metric availability, and the current UTC day's view change.\n\nPlatform copies of one source video remain separate rows because their links and metrics differ. Copies share `crossPostGroupId` so callers can group or de-duplicate them.\n\nAgency accounts can pass `scope=agency` to return posts from the parent agency and every subaccount in one request.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 25,
              "maximum": 500
            }
          },
          {
            "in": "query",
            "name": "program",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Narrow results by program IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "platform",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PostPlatform"
              }
            },
            "description": "Narrow results by platforms (multiple allowed)"
          },
          {
            "in": "query",
            "name": "creator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Narrow results by creator IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Include posts from this date (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Include posts through this date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "creatorId": {
                            "type": "string",
                            "description": "Client-stable encrypted creator ID"
                          },
                          "crossPostGroupId": {
                            "type": "string",
                            "description": "Shared by platform copies of the same source video"
                          },
                          "title": {
                            "type": "string"
                          },
                          "platform": {
                            "$ref": "#/components/schemas/PostPlatform"
                          },
                          "url": {
                            "type": "string",
                            "description": "Direct URL for this platform post; an empty string means no URL is stored"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "Thumbnail URL; an empty string means no thumbnail is stored"
                          },
                          "metricsAvailable": {
                            "type": "boolean",
                            "description": "False when the post has no stored metric snapshot; use this to distinguish missing data from a stored zero"
                          },
                          "metricsRecordedAt": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true,
                            "description": "Unix timestamp in milliseconds for the latest metric snapshot, or null when metrics are unavailable"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "earnings": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unix timestamp in milliseconds"
                          },
                          "deltaFromPrevDay": {
                            "type": "object",
                            "description": "Signed change from the last snapshot before the current UTC day. A lower latest count produces a negative value. This is zero when no new snapshot was recorded today or when no earlier snapshot exists; the first stored total is a baseline, not views proven to have arrived today.",
                            "properties": {
                              "views": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "View post details",
        "description": "Get full details for one post/video.\n\nThe response includes metrics, engagement data, payment status, and related contract/program information.\n\n\n`description` is the post's caption. For an Instagram post on an account connected to Launchpoint, each metrics read replaces it with the current caption, so an edit by the creator appears after the next read. `descriptionFetchedAt` is the time of the read that returned it.\n\n`account` is the social account that published the post.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the post"
          }
        ],
        "responses": {
          "200": {
            "description": "Post details returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "description": "The post's caption"
                        },
                        "descriptionFetchedAt": {
                          "type": "integer",
                          "format": "int64",
                          "nullable": true,
                          "description": "When the caption in `description` was read from the platform, in Unix milliseconds. Null when no read has stored it yet."
                        },
                        "platform": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "thumbnail": {
                          "type": "string"
                        },
                        "mediaUrl": {
                          "type": "string",
                          "nullable": true,
                          "description": "Link that downloads the post's video or image file. Null unless media links are turned on for your workspace (email hi@launchpointhq.com). The link does not expire; do not share it. Also null when Launchpoint has no stored copy of the file."
                        },
                        "creator": {
                          "type": "string",
                          "description": "Social handle"
                        },
                        "account": {
                          "type": "object",
                          "description": "The social account that published the post",
                          "properties": {
                            "handle": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string",
                              "nullable": true
                            },
                            "avatarUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "profileFetchedAt": {
                              "type": "integer",
                              "format": "int64",
                              "nullable": true,
                              "description": "When the account's profile, including `bio` and `avatarUrl`, was last read from the platform, in Unix milliseconds"
                            }
                          }
                        },
                        "uploadedAt": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "views": {
                          "type": "integer"
                        },
                        "likes": {
                          "type": "integer"
                        },
                        "comments": {
                          "type": "integer"
                        },
                        "shares": {
                          "type": "integer"
                        },
                        "bookmarks": {
                          "type": "integer"
                        },
                        "engagementRate": {
                          "type": "string",
                          "description": "Percentage represented as a string"
                        },
                        "earnings": {
                          "type": "number"
                        },
                        "paid": {
                          "type": "boolean"
                        },
                        "lastPaidAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "lastSyncedAt": {
                          "type": "integer",
                          "nullable": true,
                          "description": "When the post's metrics were last read. This is not the caption read time; see `descriptionFetchedAt`."
                        },
                        "contract": {
                          "type": "object",
                          "nullable": true,
                          "description": "Contract details, or null if the post creator has no offer-level contract.",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "contractorName": {
                              "type": "string"
                            },
                            "contractorId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "isGhostHandle": {
                              "type": "boolean"
                            }
                          }
                        },
                        "program": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "creatorInfo": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "profileImageUrl": {
                              "type": "string"
                            }
                          }
                        },
                        "awardedBonuses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "bonusAmount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Post ID is invalid"
          },
          "404": {
            "description": "No post was found"
          }
        }
      }
    },
    "/posts/{id}/metrics-history": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "View post metrics history",
        "description": "Get daily historical metrics for one post/video.\n\nSee how views, likes, comments, and other metrics changed over time.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
[...]
