{
  "openapi": "3.0.4",
  "info": {
    "title": "Launchpoint Public API",
    "version": "1.0.0",
    "description": "REST API for Launchpoint brands and agencies. Authenticate with an API key in the `x-api-key` header.\n\n## Requirements\n- Public API access must be enabled for the company.\n- The company must have money in its Launchpoint wallet or a saved payment method. Otherwise requests return `402 { \"error\": \"Active subscription required\" }`.\n- Create and manage API keys in Dashboard → Settings → API.\n\n## Rate limits\n- Default: **100 requests per minute** per API key.\n- Approved partner accounts: **400 requests per minute**.\n- Every response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset`. Requests over the limit return `429`.\n\n## Errors\n- Errors use `{ \"error\": \"<message>\" }` with the matching HTTP status. Some endpoints also include a `code`.\n\n## Timestamps\n- Timestamps are Unix timestamps in milliseconds unless a field says otherwise.\n\n## Pagination\n- Most list endpoints accept `page` and `limit` and return `{ data, page, total }`. Some also return `totalPages`.\n- `scope=company` is the default. A parent agency key can pass `scope=agency` on supported routes to include its own data and linked brands."
  },
  "servers": [
    {
      "url": "https://dashboard.launchpointhq.com/api/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Programs",
      "description": "Campaign and program management"
    },
    {
      "name": "Posts",
      "description": "Social media posts and content"
    },
    {
      "name": "Analytics",
      "description": "Performance metrics and KPIs"
    },
    {
      "name": "Payouts",
      "description": "Payout history, balances, and pending creator money"
    },
    {
      "name": "Contracts",
      "description": "Creator contracts and agreements"
    },
    {
      "name": "Creators",
      "description": "Creator profiles and statistics"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key from Dashboard → Settings → API"
      }
    },
    "parameters": {
      "ScopeParam": {
        "in": "query",
        "name": "scope",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "company",
            "agency"
          ],
          "default": "company"
        },
        "description": "Data scope. `company` (default) returns only the API key company's data. `agency` returns the parent agency plus its linked brands. `scope=agency` requires a parent agency key; other keys receive `403`."
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/programs": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "List programs",
        "description": "Retrieve all programs for your company with pagination and filtering.\n\nPrograms represent campaigns or marketing initiatives that creators participate in.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of items per page"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "paused",
                "completed",
                "archived"
              ]
            },
            "description": "Filter programs by status"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search programs by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved programs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "List posts",
        "description": "Retrieve social media posts with comprehensive filtering options.\n\nPosts can be filtered by program, platform, creator, date range, and more.\nResults include engagement metrics (views, likes, comments, etc.)\n\nAgency accounts can pass `scope=agency` to list posts across the parent\nagency and every subaccount in one call.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "program",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by program IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "platform",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "tiktok",
                  "instagram",
                  "youtube"
                ]
              }
            },
            "description": "Filter by platforms (multiple allowed)"
          },
          {
            "in": "query",
            "name": "creator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by creator IDs (multiple allowed)"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter posts from this date (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter posts until this date (YYYY-MM-DD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "earnings": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get video details",
        "description": "Retrieve detailed information about a specific post/video.\n\nIncludes metrics, engagement data, payment status, and related contract/program information.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Post ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved post details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "platform": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "thumbnail": {
                          "type": "string"
                        },
                        "creator": {
                          "type": "string",
                          "description": "Social media handle"
                        },
                        "uploadedAt": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "views": {
                          "type": "integer"
                        },
                        "likes": {
                          "type": "integer"
                        },
                        "comments": {
                          "type": "integer"
                        },
                        "shares": {
                          "type": "integer"
                        },
                        "bookmarks": {
                          "type": "integer"
                        },
                        "engagementRate": {
                          "type": "string",
                          "description": "Percentage as string"
                        },
                        "earnings": {
                          "type": "number"
                        },
                        "paid": {
                          "type": "boolean"
                        },
                        "lastPaidAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "lastSyncedAt": {
                          "type": "integer",
                          "nullable": true
                        },
                        "contract": {
                          "type": "object",
                          "nullable": true,
                          "description": "Contract details, or null when the post creator has no offer-level contract.",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "contractorName": {
                              "type": "string"
                            },
                            "contractorId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "isGhostHandle": {
                              "type": "boolean"
                            }
                          }
                        },
                        "program": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        },
                        "creatorInfo": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "profileImageUrl": {
                              "type": "string"
                            }
                          }
                        },
                        "awardedBonuses": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "bonusAmount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/posts/{id}/metrics-history": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "Get video metrics history",
        "description": "Retrieve historical daily metrics data for a specific post/video over time.\n\nShows how views, likes, comments, and other metrics have evolved day-by-day.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Post ID"
          },
          {
            "in": "query",
            "name": "days",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Number of days of history to retrieve (0 for all)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Maximum number of data points"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved metrics history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "postId": {
                          "type": "string"
                        },
                        "history": {
                          "type": "array",
                          "description": "Daily snapshots in chronological order (oldest to newest)",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "Date in YYYY-MM-DD format"
                              },
                              "timestamp": {
                                "type": "integer",
                                "nullable": true
                              },
                              "views": {
                                "type": "integer",
                                "description": "Total views on this date"
                              },
                              "likes": {
                                "type": "integer"
                              },
                              "comments": {
                                "type": "integer"
                              },
                              "shares": {
                                "type": "integer"
                              },
                              "bookmarks": {
                                "type": "integer"
                              },
                              "engagementRate": {
                                "type": "string"
                              },
                              "viewsDelta": {
                                "type": "integer",
                                "description": "Change from previous day"
                              },
                              "likesDelta": {
                                "type": "integer"
                              },
                              "commentsDelta": {
                                "type": "integer"
                              },
                              "sharesDelta": {
                                "type": "integer"
                              },
                              "bookmarksDelta": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "growth": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "viewsGrowth": {
                              "type": "string",
                              "description": "Percentage growth over period"
                            },
                            "likesGrowth": {
                              "type": "string"
                            },
                            "commentsGrowth": {
                              "type": "string"
                            },
                            "sharesGrowth": {
                              "type": "string"
                            },
                            "bookmarksGrowth": {
                              "type": "string"
                            },
                            "periodDays": {
                              "type": "integer"
                            },
                            "totalDaysTracked": {
                              "type": "integer"
                            }
                          }
                        },
                        "totalDataPoints": {
                          "type": "integer"
                        },
                        "periodDays": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found"
          }
        }
      }
    },
    "/posts/export": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "Export posts as CSV",
        "description": "Generate and download a CSV export of posts.\n\nThe response is a streaming CSV file with all post data including metrics.\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filters": {
                    "type": "object",
                    "description": "Same filter options as GET /posts"
                  },
                  "selectedIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specific post IDs to export (overrides filters)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV file stream",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "attachment; filename=\"posts-export.csv\""
              }
            }
          }
        }
      }
    },
    "/analytics/kpis": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get comprehensive KPIs",
        "description": "Retrieve key performance indicators with status breakdowns.\n\nIncludes metrics for:\n- Programs (by status: active, draft, paused, etc.)\n- Contracts (by status: active, pending, completed, etc.)\n- Posts (total, views, engagement, paid/unpaid)\n- Creators (total, with active contracts)\n\nAgency accounts can pass `scope=agency` to compute KPIs across the\nparent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved KPIs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "programs": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "integer"
                            },
                            "draft": {
                              "type": "integer"
                            },
                            "paused": {
                              "type": "integer"
                            },
                            "completed": {
                              "type": "integer"
                            },
                            "archived": {
                              "type": "integer"
                            }
                          }
                        },
                        "contracts": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "integer"
                            },
                            "pending": {
                              "type": "integer"
                            },
                            "completed": {
                              "type": "integer"
                            },
                            "declined": {
                              "type": "integer"
                            },
                            "cancelled": {
                              "type": "integer"
                            },
                            "expired": {
                              "type": "integer"
                            }
                          }
                        },
                        "posts": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "totalViews": {
                              "type": "integer"
                            },
                            "totalLikes": {
                              "type": "integer"
                            },
                            "totalComments": {
                              "type": "integer"
                            },
                            "totalShares": {
                              "type": "integer"
                            },
                            "paid": {
                              "type": "integer"
                            },
                            "unpaid": {
                              "type": "integer"
                            }
                          }
                        },
                        "creators": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer"
                            },
                            "withActiveContracts": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/videos": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List all tracked videos with analytics",
        "description": "Retrieve all tracked videos/posts with comprehensive analytics and filtering.\n\nIncludes engagement metrics, sorting, and detailed statistics for each video.\n\nAgency accounts can pass `scope=agency` to aggregate tracked videos\nacross the parent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "uploadedAt",
                "views",
                "likes",
                "engagement"
              ],
              "default": "uploadedAt"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "program",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "platform",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "tiktok",
                  "instagram",
                  "youtube"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "creator",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "minViews",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum view count filter"
          },
          {
            "in": "query",
            "name": "paid",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false",
                "all"
              ],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tracked videos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "views": {
                            "type": "integer"
                          },
                          "likes": {
                            "type": "integer"
                          },
                          "comments": {
                            "type": "integer"
                          },
                          "shares": {
                            "type": "integer"
                          },
                          "bookmarks": {
                            "type": "integer"
                          },
                          "engagementRate": {
                            "type": "number"
                          },
                          "totalEngagement": {
                            "type": "integer"
                          },
                          "earnings": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "uploadedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalVideos": {
                          "type": "integer"
                        },
                        "totalViews": {
                          "type": "integer"
                        },
                        "totalLikes": {
                          "type": "integer"
                        },
                        "totalComments": {
                          "type": "integer"
                        },
                        "totalShares": {
                          "type": "integer"
                        },
                        "totalBookmarks": {
                          "type": "integer"
                        },
                        "totalEngagement": {
                          "type": "integer"
                        },
                        "averageEngagementRate": {
                          "type": "number"
                        },
                        "totalEarnings": {
                          "type": "number"
                        },
                        "paidVideos": {
                          "type": "integer"
                        },
                        "unpaidVideos": {
                          "type": "integer"
                        },
                        "platformBreakdown": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/accounts": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "List all tracked accounts",
        "description": "Retrieve all tracked social media accounts with aggregated analytics.\n\nGroups posts by social media handle and platform, providing comprehensive metrics per account.\n\nAgency accounts can pass `scope=agency` to aggregate accounts across the\nparent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "platform",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific platform"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific program"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "totalViews",
                "totalPosts",
                "engagementRate",
                "creator"
              ],
              "default": "totalViews"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved tracked accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handle": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "contractorId": {
                            "type": "string"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "isGhostHandle": {
                            "type": "boolean"
                          },
                          "totalPosts": {
                            "type": "integer"
                          },
                          "totalViews": {
                            "type": "integer"
                          },
                          "totalLikes": {
                            "type": "integer"
                          },
                          "totalComments": {
                            "type": "integer"
                          },
                          "totalShares": {
                            "type": "integer"
                          },
                          "totalBookmarks": {
                            "type": "integer"
                          },
                          "totalEngagement": {
                            "type": "integer"
                          },
                          "totalEarnings": {
                            "type": "number"
                          },
                          "paidPosts": {
                            "type": "integer"
                          },
                          "unpaidPosts": {
                            "type": "integer"
                          },
                          "engagementRate": {
                            "type": "number"
                          },
                          "averageViewsPerPost": {
                            "type": "integer"
                          },
                          "averageEngagementPerPost": {
                            "type": "integer"
                          },
                          "contracts": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "programs": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "contractCount": {
                            "type": "integer"
                          },
                          "programCount": {
                            "type": "integer"
                          },
                          "firstPostDate": {
                            "type": "integer"
                          },
                          "lastPostDate": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalAccounts": {
                          "type": "integer"
                        },
                        "totalPosts": {
                          "type": "integer"
                        },
                        "totalViews": {
                          "type": "integer"
                        },
                        "totalLikes": {
                          "type": "integer"
                        },
                        "totalEngagement": {
                          "type": "integer"
                        },
                        "averageEngagementRate": {
                          "type": "number"
                        },
                        "totalEarnings": {
                          "type": "number"
                        },
                        "platformBreakdown": {
                          "type": "object"
                        },
                        "ghostHandles": {
                          "type": "integer"
                        },
                        "realHandles": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/overview": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "General analytics overview",
        "description": "Get comprehensive analytics with filtering capabilities.\n\nSimilar to the /overall page in the web app, this endpoint provides:\n- Summary metrics\n- Top performing posts\n- Top performing creators\n- Platform breakdown\n\nWhen `fromDate` and/or `toDate` are provided, `summary` uses the same\nactivity attribution model as the dashboard Performance Overview chart:\n- daily deltas from post `daily` stats\n- first-stat totals attributed back to the upload date\n- posts without daily stats attributed to their upload date\n\n`snapshotSummary`, `topPosts`, `topCreators`, and `platformBreakdown`\nremain upload-date snapshot views, matching the `/overall` page tables.\n\nAgency accounts can pass `scope=agency` to compute the overview across\nthe parent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string"
            },
            "description": "Filter analytics by specific program"
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            },
            "description": "Filter analytics by specific creator"
          },
          {
            "in": "query",
            "name": "platform",
            "schema": {
              "type": "string",
              "enum": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            },
            "description": "Filter analytics by platform"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved analytics overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "object",
                          "properties": {
                            "totalPosts": {
                              "type": "integer"
                            },
                            "totalViews": {
                              "type": "integer"
                            },
                            "totalLikes": {
                              "type": "integer"
                            },
                            "totalComments": {
                              "type": "integer"
                            },
                            "totalShares": {
                              "type": "integer"
                            },
                            "totalBookmarks": {
                              "type": "integer"
                            },
                            "totalEarnings": {
                              "type": "number"
                            },
                            "engagementRate": {
                              "type": "number"
                            },
                            "totalContracts": {
                              "type": "integer"
                            },
                            "activeContracts": {
                              "type": "integer"
                            },
                            "uniqueCreators": {
                              "type": "integer"
                            }
                          }
                        },
                        "snapshotSummary": {
                          "type": "object",
                          "description": "Legacy upload-date snapshot totals for the same filters",
                          "properties": {
                            "totalPosts": {
                              "type": "integer"
                            },
                            "totalViews": {
                              "type": "integer"
                            },
                            "totalLikes": {
                              "type": "integer"
                            },
                            "totalComments": {
                              "type": "integer"
                            },
                            "totalShares": {
                              "type": "integer"
                            },
                            "totalBookmarks": {
                              "type": "integer"
                            },
                            "totalEarnings": {
                              "type": "number"
                            },
                            "engagementRate": {
                              "type": "number"
                            },
                            "uniqueCreators": {
                              "type": "integer"
                            }
                          }
                        },
                        "topPosts": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Top 10 posts by snapshot views for posts uploaded in the selected range"
                        },
                        "topCreators": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Top 10 creators by snapshot views for posts uploaded in the selected range"
                        },
                        "platformBreakdown": {
                          "type": "object",
                          "description": "Snapshot metrics grouped by platform for posts uploaded in the selected range"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analytics/recruitment": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get daily recruitment outreach analytics",
        "description": "Retrieve daily counts for recruitment invites sent and candidate responses received.\n\nDate buckets are UTC days in `YYYY-MM-DD` format.\n\nAgency accounts can pass `scope=agency` to aggregate recruitment\noutreach across the parent agency and every subaccount.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date in YYYY-MM-DD format (UTC). Defaults to 29 days before `toDate`."
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date in YYYY-MM-DD format (UTC). Defaults to today."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved recruitment analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "summary": {
                          "type": "object",
                          "properties": {
                            "totalInvitesSent": {
                              "type": "integer"
                            },
                            "totalResponsesReceived": {
                              "type": "integer"
                            },
                            "responseRate": {
                              "type": "number",
                              "description": "Responses divided by invites sent, expressed as a percentage"
                            }
                          }
                        },
                        "daily": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "UTC date bucket in YYYY-MM-DD format"
                              },
                              "invitesSent": {
                                "type": "integer"
                              },
                              "responsesReceived": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "filters": {
                          "type": "object",
                          "properties": {
                            "fromDate": {
                              "type": "string",
                              "format": "date"
                            },
                            "toDate": {
                              "type": "string",
                              "format": "date"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range or date format"
          }
        }
      }
    },
    "/programs/{id}/invite": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Request program invite link",
        "description": "Generate a shareable invite link for a program.\n\nCreators who use this link can join the program directly.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Program ID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expiresInDays": {
                    "type": "integer",
                    "description": "Days until link expires (null for never, max 90)",
                    "example": 14,
                    "nullable": true
                  },
                  "maxUses": {
                    "type": "integer",
                    "description": "Maximum number of times link can be used (null for unlimited)",
                    "example": 50,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite link created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "link": {
                      "type": "string",
                      "description": "Full invite URL"
                    },
                    "token": {
                      "type": "string",
                      "description": "Invite token"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "maxUses": {
                      "type": "integer",
                      "nullable": true
                    },
                    "programId": {
                      "type": "string"
                    },
                    "programName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Program not found"
          }
        }
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "List wallet activity",
        "description": "Read-only access to your company's wallet ledger entries.\n\nShows all credits and debits to your wallet including:\n- Payouts to creators\n- Adjustments\n- Refunds\n\n**Note:** Executing payouts via API is not supported for security reasons.\n",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific creator"
          },
          {
            "in": "query",
            "name": "contractId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific contract"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "confirmed",
                "pending",
                "failed"
              ]
            },
            "description": "Filter by transaction status"
          },
          {
            "in": "query",
            "name": "reason",
            "schema": {
              "type": "string"
            },
            "description": "Filter by description (e.g., \"payout\", \"adjustment\")"
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved wallet activity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Transaction amount in dollars (negative for debits)"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "credit",
                              "debit"
                            ],
                            "description": "Transaction type"
                          },
                          "balanceAfter": {
                            "type": "number",
                            "nullable": true,
                            "description": "Wallet balance after transaction (in dollars)"
                          },
                          "description": {
                            "type": "string",
                            "description": "Transaction description (e.g., \"Payout to creator\")"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "confirmed",
                              "pending",
                              "failed"
                            ]
                          },
                          "contractId": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorId": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorName": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorProfileImageUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "programId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalCredits": {
                          "type": "number",
                          "description": "Sum of all credits in dollars"
                        },
                        "totalDebits": {
                          "type": "number",
                          "description": "Sum of all debits in dollars (absolute value)"
                        },
                        "confirmedCount": {
                          "type": "integer"
                        },
                        "pendingCount": {
                          "type": "integer"
                        },
                        "failedCount": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payouts/stats": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout wallet stats",
        "description": "Read-only summary of your company's payout wallet balances and lifetime activity.\n\nReturns the same metrics shown on the payouts dashboard:\n- **Available balance** — funds ready to pay creators\n- **Pending balance** — incoming top-ups still processing\n- **Total owed** — calculated amount owed across active contracts\n- **Lifetime deposits** — total confirmed wallet top-ups\n- **Lifetime paid out** — total confirmed payouts to creators\n\nAll amounts are in USD dollars.\n",
        "responses": {
          "200": {
            "description": "Successfully retrieved payout stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "availableBalance": {
                      "type": "number",
                      "description": "Available wallet balance in dollars"
                    },
                    "pendingBalance": {
                      "type": "number",
                      "description": "Pending top-up balance in dollars"
                    },
                    "totalOwed": {
                      "type": "number",
                      "description": "Total amount owed to creators across active contracts in dollars"
                    },
                    "lifetimeDeposits": {
                      "type": "number",
                      "description": "Lifetime confirmed wallet deposits in dollars"
                    },
                    "lifetimePaidOut": {
                      "type": "number",
                      "description": "Lifetime confirmed payouts to creators in dollars"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "usd"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key"
          },
          "402": {
            "description": "Active subscription required"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          }
        ]
      }
    },
    "/payouts/pending": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get pending payouts",
        "description": "Retrieve list of pending payouts for active contracts.\n\nIncludes detailed payment calculations, pro-rata adjustments, and creator information.\nShows payouts that are due, overdue, or upcoming based on contract schedules.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific program"
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific creator"
          },
          {
            "in": "query",
            "name": "minAmount",
            "schema": {
              "type": "number",
              "minimum": 0,
              "multipleOf": 0.01
            },
            "description": "Minimum payout amount in dollars, with at most two decimal places"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "amount",
                "dueDate",
                "creator"
              ],
              "default": "amount"
            }
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved pending payouts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "contractId": {
                            "type": "string"
                          },
                          "contractName": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Amount in dollars"
                          },
                          "amountCents": {
                            "type": "integer"
                          },
                          "originalAmount": {
                            "type": "number",
                            "description": "Amount before pro-rata"
                          },
                          "originalAmountCents": {
                            "type": "integer"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "overdue",
                              "due",
                              "upcoming"
                            ]
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "isOverdue": {
                            "type": "boolean"
                          },
                          "isDue": {
                            "type": "boolean"
                          },
                          "programId": {
                            "type": "string",
                            "nullable": true
                          },
                          "programName": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorId": {
                            "type": "string"
                          },
                          "creatorName": {
                            "type": "string"
                          },
                          "creatorEmail": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorProfileImageUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "hasStripeAccount": {
                            "type": "boolean"
                          },
                          "deliveredPosts": {
                            "type": "integer"
                          },
                          "requiredPosts": {
                            "type": "integer"
                          },
                          "deliveryPercentage": {
                            "type": "number"
                          },
                          "totalViews": {
                            "type": "integer"
                          },
                          "isProRata": {
                            "type": "boolean"
                          },
                          "paymentComponents": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "paymentStructure": {
                            "type": "object",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalPending": {
                          "type": "integer"
                        },
                        "totalAmount": {
                          "type": "number"
                        },
                        "totalAmountCents": {
                          "type": "integer"
                        },
                        "overdueCount": {
                          "type": "integer"
                        },
                        "dueCount": {
                          "type": "integer"
                        },
                        "upcomingCount": {
                          "type": "integer"
                        },
                        "readyToPay": {
                          "type": "integer"
                        },
                        "needsSetup": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/creators": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "List creators",
        "description": "Retrieve creators associated with your company, including their email and a per-campaign\ncontract status map. Use this to determine which creators are active across your campaigns.\n\nEach creator includes a `campaigns` array showing every program they are (or were) contracted\nunder, along with the contract status. A creator's top-level `status` is `\"active\"` if they\nhave at least one active contract, otherwise `\"inactive\"`.\n\nGhost-handle contracts are excluded.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Results per page"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string"
            },
            "description": "Filter to creators with a contract in this program"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search by creator name or email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved creators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Creator user ID"
                          },
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "profileImageUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "inactive"
                            ],
                            "description": "\"active\" if the creator has at least one active contract"
                          },
                          "campaigns": {
                            "type": "array",
                            "description": "Contract status per campaign/program",
                            "items": {
                              "type": "object",
                              "properties": {
                                "programId": {
                                  "type": "string"
                                },
                                "programName": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "contractId": {
                                  "type": "string"
                                },
                                "contractStatus": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "active",
                                    "completed",
                                    "declined",
                                    "cancelled"
                                  ]
                                },
                                "handles": {
                                  "type": "array",
                                  "description": "Social media handles associated with this contract",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "platform": {
                                        "type": "string"
                                      },
                                      "handle": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/creators/collections": {
      "get": {
        "tags": [
          "Creators"
        ],
        "summary": "List creator collections",
        "description": "List the creator collections (saved account groups) for the\nauthenticated company.\n",
        "responses": {
          "200": {
            "description": "Successfully retrieved creator collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string",
                            "nullable": true
                          },
                          "creatorCount": {
                            "type": "integer"
                          },
                          "creatorIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          }
        ]
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List contracts",
        "description": "Retrieve creator contracts with sensitive payment details hidden.\n\nContracts define the relationship between your company and creators.\nIncludes metadata only - no payment execution capabilities via API.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScopeParam"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "description": "Filter by status (pending, active, completed, declined, cancelled)"
          },
          {
            "in": "query",
            "name": "programId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "creatorId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "contractorId": {
                            "type": "string"
                          },
                          "contractorName": {
                            "type": "string"
                          },
                          "programId": {
                            "type": "string"
                          },
                          "contractName": {
                            "type": "string"
                          },
                          "position": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "contractType": {
                            "type": "string"
                          },
                          "paymentType": {
                            "type": "string",
                            "nullable": true
                          },
                          "paymentSchedule": {
                            "type": "string",
                            "nullable": true
                          },
                          "socialProfiles": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "platform": {
                            "type": "string"
                          },
                          "handle": {
                            "type": "string"
                          },
                          "isGhostHandle": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "updatedAt": {
                            "type": "integer"
                          },
                          "startsAt": {
                            "type": "integer"
                          },
                          "expiresAt": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Contract end time in Unix milliseconds, or null when the contract is ongoing."
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
